<h4 class="ui header profile">
  <div id="profile" class="ui floating dropdown" appSmDropdown>
      <img src="{{userIconURL}}" />
      <div class="user-name" id="profile-user-name">
        <span>{{ userName }}</span>
        <i class="caret down icon"></i>
      </div>
      <div class="menu left" id="profile-menu">
        <div class="item first" routerLink="/profile">
          <span>
            <i class="user icon"></i>
            View account
          </span>
        </div>
        <div class="item" routerLink="../perflowstudio" *ngIf="isRightRole && !currentRoute.includes('/perflowstudio')">
          <span>
            <i class="external alternate icon"></i>
            Perflow Studio
          </span>
        </div>
        <div class="item" routerLink="../home" *ngIf="currentRoute.includes('/perflowstudio')">
          <span>
            <i class="external alternate icon"></i>
            Perflow 
          </span>
        </div>
        <div class="item" routerLink="/settings">
          <span>
            <i class="setting icon"></i>
            Account Settings
          </span>
        </div>
        <div class="item last" id="log-out" routerLink="/" (click)="logout()">
          <span>
            <i class="sign-out icon"></i>
            Log out
          </span>
        </div>
      </div>
  </div>
</h4>
