<div class="four wide column ym-card">
    <div class="fader">
        <button class="play-icon">
            <i class="play icon"></i>
        </button> 
        <img src="https://s3-alpha-sig.figma.com/img/deef/fea3/4a49c5ec1e47b51ddbfbebcb8b1da637?Expires=1628467200&Signature=Y2Vms~W~xybPGZZ4yVsyA9laKZIiWPAPzf0QZlBCIIgfMM-DkvHQQWoVWeuyAS8Ws14qZ5hGIhyfybzke0L0wvVYWKAi44eEq2aWB3HJOgHsZyH~yS~sFxRGU0UHdmFHwiMql77JyTRZ~P194KaEGLvaJli9Vqn7d9K79b4hCAZyFjdc9Lor3BTpA4HCCP5JdKCxrIe~kIziXkVaao5G9IV2MOAxvZjSz8ieSdvlkAzzF6ldlNbdx-gdgJVCkO-DoPdttOHxYu3kn0L~AOIUqDZTitwBQH~l~ViiXDIXPfPDEjzfN74SCuaxS0p5oIiRZ3l8hHH4~qJPt9WeRGWELQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Icon">    
    </div>
    <div class="card-name">Positions</div>
</div>
