@import "src/styles.sass"

*
    padding: 0
    margin: 0
    text-decoration: none
    list-style: none
    box-sizing: border-box

.rp-card
    margin: 10px
    width: 370px
    display: flex
    background: $drk-gray
    cursor: pointer
    .fader
        height: 65px
        position: relative
        img
            height: 65px
            width: 95px
            object-fit: cover
            background: linear-gradient(0deg, rgba(55, 71, 79, 0.16), rgba(55, 71, 79, 0.16))
            border-radius: 5px
        &:hover
            .play-icon
                opacity: 0.9
        .play-icon
            top: 50%
            right: 50%
            transform: translate(50%, -50%)


.card-description
    margin: 0 20px
    display: flex
    font-size: 14px
    flex-direction: column
    justify-content: center
    font-weight: $light-weight
    color: $text-color-gray
    span
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap

.card-name
    font-size: 14px
    font-weight: $normal-weight
    color: $text
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
