<div class="rp-card">
  <div class="fader">
      <button class="play-icon" appClickStopPropagation>
          <i class="play icon"></i>
      </button>  
    <img *ngIf="instanceOfRecentlyPlayedSong(song)" src="{{ song.album?.iconURL }}" alt="Artist Avatar" />
    <img *ngIf="!instanceOfRecentlyPlayedSong(song)" src="/assets/images/playlist2.png" alt="Artist Avatar" />
  </div>
  <div class="card-description">
    <h5 class="card-name">{{ song.name }}</h5>
    <span>
      <a routerLink="{{artistRoute}}" appClickStopPropagation>{{ artist }}</a> 
      | 
      <a routerLink="{{podcastRoute}}" appClickStopPropagation>{{ podcast }}</a>
    </span>
  </div>
</div>
