.ui.visible.sidebar.inverted.vertical.menu
    width: 13%
    padding-left: 1.4%

.pusher
    margin-left: 13%

#logo
    padding: 0
    top: 15px
    margin-bottom: 30px
    display: flex
    color: #CDCDCD

#name-route
    padding: 8px
    color: #FAFBFF

#routers
    position: relative
    width: max-content
    margin-top: 20px
    border-bottom: 1.5px solid #373C43

a:hover 
    #name-route
        color: #FD5D34
    i.small.circular.inverted.fire.icon
        color: #FD5D34 
    cursor: pointer

#routers > div
    margin-bottom: 18px
    line-height: 21px

#playlists-menu
    position: relative
    padding-top: 20px
    color: #FFFFFF

li  
    margin-top: 18px
    color: #FD5D34 

li > span
     color: #fff

#create-playlist
    margin-top: 18px
    padding: 10px
    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
    border-radius: 50px

.ui.button
    margin-top: 18px
    padding: 8px
    font-weight: bold
    font-size: 14px
    line-height: 19px
    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
    border-radius: 50px
    display: flex
    flex-direction: row
    align-items: flex-start
    padding: 12px 22px
    color: #fff
  