.ui.visible.sidebar.inverted.vertical.menu
    width: 247px
    height: auto
    padding-left: 40px
    background: #21292D
    border-right: 1.5px solid #373C43

.pusher
    margin-left: 247px
    position: absolute
    height: 100%
    width: 100%
    background: #21292D

#logo
    padding: 0
    position: relative
    display: flex
    width: 100px
    top: 44px

.ui.logo.icon.image
    font-size: 22px
    color: #CDCDCD
    opacity: 50%

#name-logo
    padding-left: 4px
    font-family: Montserrat
    font-style: normal
    font-weight: 500
    font-size: 15.6024px
    line-height: 19px
    letter-spacing: 0.01em
    color: #CDCDCD

#name-route
    padding-left: 17.5px
    font-size: 18px
    color: #FAFBFF

#routers
    position: relative
    top: 100px
    width: max-content
    border-bottom: 1.5px solid #373C43

#routers > div
    margin-bottom: 41px

#playlists-menu
    position: relative
    top: 100px
    width: max-content
    margin-top: 40px
    color: #FFFFFF

li
    margin-top: 18px
    color: #FD5D34

li > span
    color: #fff

#create-playlist
    margin-top: 25px
    padding: 10px
    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
    border-radius: 50px

.ui.button
    margin-top: 25px
    padding: 12px 22px
    width: 162px
    height: 43px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-weight: bold
    font-size: 14px
    line-height: 19px
    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
    border-radius: 50px
    color: #fff

.ui.button:active
    border: 3px solid #FD6333

i
    color: #FFFFFF

a
    display: flex
    text-align: center
    flex-direction: row
    align-items: center

#playlist
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 17px

#title
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 19px

#circle
    background-color: darkcyan
    width: 28px
    height: 28px
    border-radius: 100%
    position: relative
    transition: .3s
    background: #21292D

#icon
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    font-size: 16px
    transition: .3s

a:hover
    #name-route
        color: #fe6c2f
    #circle
        background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
        cursor: pointer

