@import "src/styles"

=text($color, $font-size, $font-weight)
  color: $color
  font-size: $font-size
  font-weight: $font-weight

main
  background: $drk-gray
  width: 100%
  min-height: 100vh
  padding-top: 40px
  .main-content
    padding: 0px 40px
    .content
      height: 100%
      display: flex
      align-items: flex-start
      flex-direction: column
      padding: 20px 0px
      .group
        height: 100%
        width: 100%
        display: flex
        align-items: flex-start
        flex-direction: column
        .search-create
          width: 100%
          display: flex
          align-items: center
          .create-btn
            margin-left: 20px
          .ui.search
            width: 50%
            background: $drk-gray
            display: flex
            align-items: center
            justify-content: center
            .ui.icon.input
              width: 100%
              i
                color: $text
              .prompt.input-dark
                background: $drk-rain
                border: 1px solid $text
                color: $text
                &:focus
                  background: $drk-rain
                &:active
                  background: $drk-rain
        h4
          color: $text
          margin-bottom: 20px
      .text
        +text($text, 18px, $medium-weight)
        margin-top: 1em

.my-groups
  margin: 2em 0em
  width: 100%
  .my-group-cards
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    grid-gap: 2em 1em
    justify-items: center

.container
  min-height: 600px 
  overflow: scroll
  width: 100%
  display: flex
  flex-direction: column
  margin: 2em 0em
  &::-webkit-scrollbar
    display: none
  .search-result
    max-height: 600px !important
    overflow: auto
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    grid-gap: 2em 1em
    justify-items: center
    &::-webkit-scrollbar
      display: none

.apply-contrainer
  display: flex
  align-items: center
  margin-bottom: 40px
  .title
    +text($text, 26px, $medium-weight)
    transform: translate(0px, -2px)
  .checkbox-container
    display: flex
    align-items: center
    justify-content: center

.roles
    color: white
    margin: 1em 2em
    display: flex
    align-items: center
    label
        +text($text, 16px, $normal-weight)
        margin-left: 4px

input[type="radio"] 
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  display: inline-block
  width: 17px
  height: 17px
  background-clip: content-box
  border: none
  background-color: $gray
  border-radius: 50%
  &:checked 
    background-color: $light-orange

.spinner-text
  +text($text, 16px, $normal-weight)