<main>
  <div class="main-content">
    <div class="content">
      <div class="apply-contrainer" *ngIf="!isJoinToGroupRoute">
        <h4 class="title">You are:</h4>
        <div class="checkbox-container">
          <div class="roles">
            <input type="radio" name="roles" (change)="isArtist = !isArtist" [checked]="isArtist">
            <label>Artist</label>
          </div>
          <div class="roles">
            <input type="radio" name="roles" (change)="isArtist = !isArtist" [checked]="!isArtist">
            <label>Group</label>
          </div>
        </div>
        <button class="ui btn-full button create-btn" *ngIf="isArtist" (click)="createArtistApplicant()">
          Apply
        </button>
      </div>
      <div class="group" *ngIf="!isArtist || isJoinToGroupRoute">
        <div class="search-create">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt input-dark" type="text" name="search" placeholder="Search a group..."
                autocomplete="off" (input)="findGroup()" [(ngModel)]="searchValue" (keyup)="clearSearch($event)">
              <i class="search icon"></i>
            </div>
          </div>
          <button class="ui btn-full button create-btn" (click)="showModal()" *ngIf="!createdGroup">
            Create a group
          </button>
        </div>
        <div class="my-groups" *ngIf="createdGroup">
          <h4>My group</h4>
          <div class="my-group-cards">
            <app-artist-card 
            class="card" 
            [isChecked]=true 
            [artist]="createdGroup" 
            (apply)="createArtistApplicant($event)">
            </app-artist-card>
          </div>
        </div>
        <div class="container" *ngIf="groups.length > 0">
          <h4>Search result</h4>
          <div class="search-result" 
              infinite-scroll 
              [infiniteScrollDistance]="distance" 
              [infiniteScrollThrottle]="throttle"
              (scrolled)="onScroll()"
              [scrollWindow]="false">
            <app-artist-card *ngFor="let group of groups" [isChecked]=true [artist]="group" (apply)="createArtistApplicant($event)">
            </app-artist-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-group-modal *ngIf="isModalShown" [createdGroup]="previousGroupData" (createGroup)="onSubmitModal($event)"
  (isClosed)="closeModal()"></app-group-modal>
<app-snackbar></app-snackbar>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#FAFBFF" type = "line-scale-pulse-out" [fullScreen] = "true">
  <p class="spinner-text" > Please wait, your group is being created... </p>
</ngx-spinner>