<div class="cr-card">
    <div class="fader">
        <button class="play-icon"><i class="caret right icon"></i></button>
        <img src="https://s3-alpha-sig.figma.com/img/2714/8705/91743174ee807bd04748deb9eeaf579a?Expires=1628467200&Signature=Z5SBWEchPBdUX0T46sipJbhu~ZDKAHT1N5X7tBtuE7HuQjOEK2NrpPXhoLeMEHI7Bvwhoszmk01GbBS5bNHDQbYF6jIWX4ZHNELp4yj0YpkyN2oi2P6ihEF8-QpJU3lmL-WrBCqHebpllE23x3sv8RPkJzQLePf7LHV5XCKgmBbRKL3JcTQlhKbiUt8MYx1yjU0d7RYrCKkUhT~YgrzX2jxQRBSLFP9JTR~y6mAbM2veif-xrqu4Nm054a5btukINaFoxsjEUwAoC0XEi~KBWAu7ziveAi0Nt5mjRTX2elV2bT4-MIefjXQQqzgM~CZZIDlelBZeRHhetMYYnrwgOA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Icon">    
    </div>
    <div class="card-name">Fresh & Chill</div>
    <div class="card-desc">
        Ed Sheeran, Paloma Mami Maroon 5, SigalaPink, Oximer...
    </div>
</div>
