<div class="four wide column rp-card">
    <div class="fader">
        <button class="play-icon">
            <i class="play icon"></i>
        </button>  
        <img src="https://s3-alpha-sig.figma.com/img/cfa0/9e6e/8997b41d81bfe537ba476727c8edaf30?Expires=1628467200&Signature=e7ieDVOz092BJvrL7PmMi3X4~LoSDhYrzOrKnnNk78euwQSzrvDaH6iF6k7ue0u~FKcpDH-X51Z~cLtUBM0Jrh5P1h-X~8tKhVMOAVmp0b8pNv6JENA-qAKxAEg~wwbNpp1ZZ8mcOUp1Fbc-45M0-0PpO21SgTVzWyLTKGjepYoBbGosKsnTYK5mP0c3BWEtp71Ce9esTTdydTIhylIQ235BOkvRKV-1QksTbIsEFA~8r35tJZexnfUPPze2vof4vFtZEXtp4Y0mXgtQU5kUfMHwB6pxB-ti9sne0hYdKqwFrSEY2U7Csfcp09vN2sL6VwIVAkvcfmAvmDHaZ3PR4w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Artist Avatar">    
    </div>
    <span class="card-name">Positions</span>
    <div>
        <span class="card-artist">Ariana Grande</span> |
        <span class="card-album">Positions</span>
    </div>
</div>
