<div class="ui padded grid role">
  <div class="role-row">
      <div class="column icon">
        <img [src]="user.iconURL" *ngIf="user.iconURL">
        <div class="icon-background" *ngIf="!user.iconURL">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="column name text">
        <a class="link text" *ngIf="user.role === 1" [routerLink]="['/artists', user.id]">{{user.userName}}</a>
        <span class="text" *ngIf="user.role !== 1">{{user.userName}}</span>
      </div>
      <div class="column role text">
        {{ user.role | userRole }}
      </div>
      <div class="column group text">
        <a *ngIf="user.group" class="link text" [routerLink]="['/groups',  user.groupId]">{{ user.group }}</a>
        <span *ngIf="!user.group" class="prefix">User has no any group</span>
      </div>
      <div class="ui dropdown" appSmDropdown>
        <i class="ellipsis vertical icon"></i>
        <div class="menu left">

          <div *ngFor="let role of userRolesArray" class="item" (click)="menuClick(role, user.id)">
              {{ role | userRole}}
          </div>
        </div>
      </div>
  </div>
</div>
