<main>
  <div class="header">
    <div class="logo">
      <a class="ui logo icon image" routerLink="/home">
        <img src="/assets/Logo.png" />
      </a>
    </div>
  </div>
  <div class="main-content">
    <div class="content">
      <h4 class="title">You are:</h4>
      <div class="checkbox-container">
        <div class="roles">
          <input type="radio" name="roles" (change)="isArtist = !isArtist" [checked]="isArtist">
          <label>Artist</label>
        </div>
        <div class="roles">
          <input type="radio" name="roles" (change)="isArtist = !isArtist" [checked]="!isArtist">
          <label>Group</label>
        </div>
      </div>
      <button class="ui btn-full button create-btn" *ngIf="isArtist" (click)="createArtistApplicant()">
        Apply
      </button>
      <div class="group" *ngIf="!isArtist">
        <button class="ui btn-full button create-btn" (click)="showModal()" *ngIf="!createdGroup">
          Create a group
        </button>
        <app-artist-card class="card" [isChecked]=true [artist]="createdGroup" (apply)="createArtistApplicant($event)"
          *ngIf="createdGroup"></app-artist-card>
        <div class="text">
          or
        </div>
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt input-dark" type="text" name="search" placeholder="Search a group..."
              autocomplete="off" (input)="findGroup()" [(ngModel)]="searchValue" (keyup)="clearSearch($event)">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="container" *ngIf="groups.length > 0">
          <div class="search-result" 
              infinite-scroll 
              [infiniteScrollDistance]="distance" 
              [infiniteScrollThrottle]="throttle"
              (scrolled)="onScroll()"
              [scrollWindow]="false">
            <app-artist-card *ngFor="let group of groups" [isChecked]=true [artist]="group" (apply)="createArtistApplicant($event)">
            </app-artist-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-group-modal *ngIf="isModalShown" [createdGroup]="previousGroupData" (createGroup)="onSubmitModal($event)"
  (isClosed)="closeModal()"></app-group-modal>
<app-snackbar></app-snackbar>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#FAFBFF" type = "line-scale-pulse-out" [fullScreen] = "true">
  <p class="spinner-text" > Please wait, your group is being created... </p>
</ngx-spinner>