@import ./../../../../styles

form
    width: 100%
    display: grid
    grid-template-areas: "avatar""info"
    grid-template-rows: 401px 1fr
    .avatar
        grid-area: avatar
        width: 100%
        height: 100%
        border-radius: 5px
        display: grid
        grid-template-areas: "left-col user-icon right-col"
        grid-template-columns: 1fr 245px 1fr
        background: linear-gradient(90deg, #864099 0%, rgba(70, 65, 146, 0.95) 100%)
        .user-icon
            grid-area: user-icon
            position: relative
            text-align: center
            padding-top: 104px
            .image
                width: 245px
                height: 245px
                border-radius: 50%
                object-fit: cover
            .btn-edit
                width: 38px
                height: 38px
                border: none
                &:hover
                    color: black
                    cursor: pointer
    .info
        grid-area: info
        width: 100%
        display: grid
        grid-template-areas: "left-col form-fields right-col"
        grid-template-columns: 1fr 1fr 1fr
        .form-fields
            grid-area: form-fields
            .fields
                display: flex
                justify-content: center
                align-items: center
                padding: 20px
                text-align: center
                .cross-validation
                    width: 450px
                    .field
                        margin-bottom: 15px !important
                        .input-dark
                            background-color: $drk-rain
                            color: $text
                            border-radius: 100px
                            caret-color: white
                            &::placeholder
                                color: #717477
                            &:-webkit-autofill,
                            &:-webkit-autofill:focus,
                            &:-webkit-autofill:hover
                                -webkit-box-shadow: 0 0 0 100px $drk-gray inset !important
                                -webkit-text-fill-color: $text
                    .button-cancel
                        margin-left: 15px
                        padding: 12px 22px
                        font-weight: $bold-weight
                        color: white
                        background: none
                        border: 1px solid white
                        border-radius: 50px
                        &:hover
                            cursor: pointer
                            border-color: $medium-orange
                    .btn-save
                        padding: 12px 22px
                        font-weight: $bold-weight
                        border: none
                        &:hover
                            color: black
                        &:disabled
                            color: white
                    button:hover
                        cursor: pointer
                    .buttons
                        display: flex
                        justify-content: left
                        align-items: left

.ui.error.message
    border-radius: 25px !important

.header
    font-weight: $bold-weight
    font-size: 24px
    line-height: 28px
    color: $text
    padding: 20px
    padding-top: 40px

.sub-header
    font-weight: $medium-weight
    font-size: 18px
    line-height: 21px
    color: $text
    padding: 20px
    padding-bottom: 0px

.bottom-right-corner
    position: absolute
    bottom: 20%
    right: 5%

.white
    color: white !important