<form name="form" #form="ngForm" class="ui form error">
  <div class="avatar-background">
    <div class="user-icon">
      <input hidden #filesrc type="file" id="iconURL" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event)">
      <img class="image" alt="avatar" [src]="user.iconURL" *ngIf="user.iconURL">
      <div class="icon-background" *ngIf="!user.iconURL">
        <i class="user icon"></i>
      </div>
      <button class="btn-full btn-edit bottom-right-corner" (click)="filesrc.click()">
        <i class="fitted pencil alternate icon"></i>
      </button>
    </div>
  </div>

  <div class="info">
    <div class="form-fields">
      <h3 class="header">Edit profile</h3>
      <h4 class="sub-header">User details</h4>
      <div class="fields">
        <div class="cross-validation"
          [class.cross-validation-error]="form.errors?.identityRevealed && (form.touched || form.dirty)">

          <div class="form-group">
            <div class="field">
              <input type="text" placeholder="User Name" class="form-control input-dark" [(ngModel)]="user.userName"
                name="userName" #userName="ngModel" required pattern="[\sA-Za-z0-9.-_]{6,20}">
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="ui error message">
                <div *ngIf="userName.invalid">
                  Username should consist of 6-20 characters. There is can contain Latin letters, digits and
                  special characters.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <input type="email" placeholder="Email" class="form-control input-dark" name="email"
                [(ngModel)]="user.email" #email="ngModel" required email>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="ui error message">
                <div *ngIf="email.invalid">
                  Email address should be according to standard for the email format.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <input type="text" placeholder="Description" class="form-control input-dark" name="description"
                [(ngModel)]="user.description" #description="ngModel" pattern="[\d\s\w\[\]`.,_|!@#$%\^&*()={}:;\<>+'-]{0,150}">
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="ui error message">
                <div *ngIf="description.invalid">
                  Description should consist of max 150 characters. There is can contain letters, digits and
                  special characters.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="field" [formGroup]="userForm">
              <select class="ui floating dropdown" formControlName="gender" [(ngModel)]="user.gender" appSmDropdown>
                <option *ngFor="let gender of genders" [ngValue]="gender.key">
                  {{gender.text}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <div class="ui inverted calendar" appSmCalendar dateId="bday" calendarType="date">
                <div class="ui input right icon">
                  <i class="calendar icon white"></i>
                  <!-- Fomantic UI calendar doesn't work with ngModel. -->
                  <input class="form-control input-dark" id="bday" name="birthday" (change)="updateBirthday($event)"
                    [ngModel]="user.birthday | date:'yyyy-MM-dd'" />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="field" [formGroup]="userForm">
              <select class="ui floating dropdown" formControlName="country" [(ngModel)]="user.country" appSmDropdown>
                <option value="" disabled selected>Country</option>
                <option *ngFor="let country of countries" [ngValue]="country.name">
                  <i [class]=country.icon></i> {{country.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="buttons">
            <button class="btn-full btn-save" [disabled]="form.invalid" (click)="onSubmit()">Save</button>
            <button class="ui button-cancel inverted basic button" routerLink="/profile">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-crop-image">
    <app-crop-image [file] = "file"  *ngIf="isCropperModalShown" (croppedFile)="onSubmitModal($event)"  (isClosed)="switchCropperImageModal()"></app-crop-image>
  </div>
</form>

<app-upload-image-modal></app-upload-image-modal>