@import "../../../../styles.sass"

// Profile icon in top right corner
#profile
    position: fixed
    top: 20px
    right: 20px
    border-radius: 25px
    display: grid
    grid-template-columns: 40px 1fr
    align-items: center
    color: $text
    width: fit-content
    min-width: 140px
    height: 50px
    padding: 0 5px
    font-weight: $normal-weight
    font-size: 18px
    .text
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: 0 5px
        span
            margin: 0 10px
    img
        object-fit: cover
        width: 40px
        height: 40px
        border-radius: 50%
    #profile-menu
        &.active
            visibility: visible
        visibility: hidden
        position: absolute
        right: 0
        top: 60px
        width: 200px
        background: $drk-gray
        border: 1px solid #373C43
        border-radius: 4px
        >.item
            padding: 12px
            > span
                font-weight: $thin-weight
                font-size: 15px
            &:hover
                background-color: $light-gray
                cursor: pointer
                > span
                    color: $light-orange