@import "../../../../styles.sass"

// Profile icon in top right corner
#profile
    padding-right: 55px
    display: flex
    align-items: center
    justify-content: flex-end
    color: $text

.ui.dropdown.item
    padding: 20px 0 20px 0

#profile-menu
    top: 20px
    right: 20px
    left: auto
    background: $dark-gray
    border: 0.5px solid #373C43
    border-radius: 2px

#profile-user-name
    margin-left: 15px

#profile > img
    width: 40px
    height: 40px
    border-radius: 100%

#profile-menu > .item > a
    font-family: "Montserrat", sans-serif
    font-size: 18px
    margin: 0 15px
    display: flex
    align-items: center
    color: $text

#profile-menu > .item > a > img
    margin: 8px 0 8px 0
    padding: 0 16px 0 0

#profile-menu > #log-out > a
    color: $light-orange

#profile-menu > .item:hover
    background: $light-gray
