<div class="ui padded grid song">
    <div class="sm-row">
        <div class="column song-number">
            <span class="number">{{number}}</span>
            <i class="play icon" (click)="playSong(song.id)"></i>
        </div>
        <div class="column like">
            <i class="heart outline icon" (click)="likeSong(song.id)" *ngIf="!song.isLiked"></i>
            <i class="heart icon orange" (click)="dislikeSong(song.id)" *ngIf="song.isLiked"></i>
        </div>
        <div class="column song-name text">
            <span class="e" *ngIf="song.hasCensorship">E</span>
            {{song.name}}
        </div>
        <div class="column artist-name text">
            <a class="link" [routerLink]="['/artists', song?.artist?.id]" *ngIf="song?.artist">
                {{song?.artist?.userName}}
            </a>
            <a class="link" [routerLink]="['/groups', song?.group?.id]" *ngIf="song?.group">
                {{song?.group?.name}}
            </a>
        </div>
        <div class="column album-name text">
            <a class="link" *ngIf="song.album" [routerLink]="['/albums', song.album.id]">{{song.album.name}}</a>
        </div>
        <div class="column added text">
            {{song.createdAt | date:'yyyy-MM-dd'}}
        </div>
        <div class="column duration text">
            <span>{{song.duration * 1000 | date:'mm:ss'}}</span>
        </div>
        <div class="column settings">
            <div class="ui floating dropdown icon" appSmDropdown>
                <i class="ellipsis vertical icon"></i>
                <div class="left menu">
                    <div class="item first" (click)="clickItem('Start radio')">
                        <div class="img-wrapper">
                            <img class="streaming icon" src="../../../../assets/images/streaming.svg" />
                        </div>Start radio
                    </div>
                    <div class="item" (click)="clickItem('Add to queue')">
                        <div class="img-wrapper">
                            <img class="playlist" src="../../../../assets/images/playlist.svg" />
                        </div>Add to queue
                    </div>
                    <div class="item" (click)="clickItem('Remove from queue')">
                        <i class="trash icon"></i>Remove from queue
                    </div>
                    <div class="item" (click)="clickItem('Add to playlist')">
                        <i class="list icon"></i>Add to playlist
                    </div>
                    <div class="item" (click)="clickItem('Remove from playlist')">
                        <i class="list icon"></i>Remove from playlist
                    </div>
                    <div class="item last share">
                        <i class="share alternate icon"></i>Share
                        <div class="left menu">
                          <div class="item first last" (click)="copyLink()">
                              Copy link
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="['ui', 'success', 'message']" *ngIf="isSuccess">
    <div class="header">
      Link copied to clipboard!
    </div>
</div>