<div class="ui padded grid song" [ngClass]="highlightId === song.id ? 'playing' : ''">
    <div class="sm-row"  [ngClass]="isEditable ? 'is-editable' : 'is-not-editable'">
        <div class="column song-number">
            <span class="number">{{number}}</span>
            <i class="pause icon" (click)="pauseSong()" *ngIf="isPlaying && highlightId === song.id"></i>
            <i class="play icon" (click)="playSong()" *ngIf="highlightId !== song.id || !isPlaying"></i>
        </div>
        <div class="column like">
            <i class="heart outline icon" (click)="likeSong(song.id)" *ngIf="!song.isLiked"></i>
            <i class="heart icon orange" (click)="dislikeSong(song.id)" *ngIf="song.isLiked"></i>
        </div>
        <div class="column song-name text">
            <span class="e" *ngIf="song.hasCensorship">E</span>
            <span *ngIf="!isEditing">{{song.name}}</span>
        
            <div class="ui input" *ngIf="isEditing">
                <input type="text" maxlength="50" placeholder="Song's name" [(ngModel)]="song.name" 
                required>
            </div>

            <span class="nameedit" *ngIf="isEditable && !isEditing" (click)="editName()">
                <i class="ui pencil alternate icon"></i>
            </span>
            <span class="namesave" *ngIf="isEditable && isEditing" (click)="saveName()">
                <i class="ui save icon"></i>
            </span>

            <span class="e foredit" *ngIf="isEditable" [ngClass]="song.hasCensorship ? 'active' : ''" (click)="changeCensorship()">E</span>
        </div>
        <div class="column tags text" *ngIf="isEditable">
                <span class="tag-wrap" *ngFor="let tag of song.tags" [ngClass]="tag.type === types.other ? 'gray-wrap' : 'orange-wrap'">
                  <span class="tag text">
                      {{tag.name}}
                  </span>
                </span>
            <span class="plus" (click)="addTag()">+</span>
        </div>
        <div class="column artist-name text">
            <a class="link" [routerLink]="['/artists', song?.artist?.id]" *ngIf="song?.artist">
                {{song?.artist?.userName}}
            </a>
            <a class="link" [routerLink]="['/groups', song?.group?.id]" *ngIf="song?.group">
                {{song?.group?.name}}
            </a>
        </div>
        <div class="column album-name text">
            <a class="link" *ngIf="song.album" [routerLink]="['/albums', song.album.id]">{{song.album.name}}</a>
        </div>
        <div class="column added text">
            {{song.createdAt | date:'yyyy-MM-dd'}}
        </div>
        <div class="column duration text">
            <span>{{song.duration * 1000 | date:'mm:ss'}}</span>
        </div>
        <div class="column settings">
            <div class="ui floating dropdown icon" appSmDropdown>
                <i class="ellipsis vertical icon"></i>
                <div class="left menu">
                    <div class="item first" (click)="clickItem('Start radio')">
                        <div class="img-wrapper">
                            <img class="streaming icon" src="../../../../assets/images/streaming.svg" />
                        </div>Start radio
                    </div>
                    <div class="item" (click)="clickItem('Remove from album')" *ngIf="album && album?.artist?.id === userId">
                      <i class="trash icon"></i>Remove from album
                    </div>
                    <div class="item" *ngIf="!isRemoveFromQueueShonw" (click)="clickItem('Add to queue')">
                        <div class="img-wrapper">
                            <img class="playlist" src="../../../../assets/images/playlist.svg" />
                        </div>Add to queue
                    </div>
                    <div class="item" *ngIf="isRemoveFromQueueShonw" (click)="clickItem('Remove from queue')">
                        <i class="trash icon"></i>Remove from queue
                    </div>
                    <div class="item" (click)="clickItem('Add to playlist')">
                        <i class="list icon"></i>Add to playlist
                        <div class="left menu add-to-playlist">
                            <div class="item" *ngFor="let playlist of createdPlaylistArray" (click)="saveToPlaylist(playlist.id, song.id)">
                                {{ playlist.name }}
                            </div>
                        </div>
                    </div>
                    <div class="item" (click)="clickItem('Remove from playlist')" *ngIf="playlist && playlist?.author?.id === userId">
                        <i class="trash icon"></i>Remove from playlist
                    </div>
                    <div class="item" [routerLink]="['/artists', song?.artist?.id]" *ngIf="song?.artist">
                        <i class="user icon"></i>Go to artist
                    </div>
                    <div class="item" *ngIf="song.album" [routerLink]="['/albums', song.album.id]" >
                        <i class="gem outline icon"></i>Go to album
                    </div>
                    <div class="item last share">
                        <i class="share alternate icon"></i>Share
                        <div class="left menu">
                          <div class="item first last" (click)="copyLink()">
                              Copy link
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="['ui', 'success', 'message', 'copied']" *ngIf="isSuccess">
    <div class="header">
      {{ notification }}   
    </div>
</div>

<app-edit-tags-modal *ngIf="isEditable" [tags]="tags" [song]="song" (updatedTags)="updateTags($event)"></app-edit-tags-modal>