<div class="card" routerLink='/playlists/view-playlist/{{id}}'>
    <div class="image">
        <img [src]="iconUrl" loading="lazy" aria-hidden="false">
        <button class="play-icon" appClickStopPropagation>
            <i class="play icon"></i>
        </button>
        <div class="remove" *ngIf="isLiked" (click)="dislike(id)" appClickStopPropagation>
            <i class="like icon ui"></i>
        </div>
    </div>
    <div class="content">
        <div class="card-name"> {{name}} </div>
        <div class="card-desc"> {{description}} </div>
    </div>
</div>