@import "../../../../styles.sass"

$minimumColumnWidth: 230px    


*
    padding: 0
    margin: 0
    text-decoration: none

main
    background: $drk-gray
    width: 100%
    height: 100%
.accordion
    position: relative
    width: 100%
    height: 401px
    border-radius: 5px
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 66px auto
    background: linear-gradient(90deg, #864099 0%, rgba(70, 65, 146, 0.95) 100%)    
    
    // Navigation arrows
    .arrows
        grid-column: 1
        grid-row: 1
        position: relative
        height: 30px
        min-height: 30px
        width: 73px
        min-width: 73px
        max-width: 73px
        position: relative
        top: 38px
        left: 37px
        .arrow-left
            background: #A859C0
            border-radius: 2px
            width: 28px
            height: 28px
            border: 0px solid
            color: $text
            cursor: pointer   
            &:hover
                background: #A859C0aa
            &:active
                border: 2px solid #A859C0
        .arrow-right
            background: #A859C0
            border-radius: 2px
            width: 28px
            height: 28px
            border: 0px solid
            color: $text
            margin-left: 15px 
            cursor: pointer
            &:hover
                background: #A859C0aa
            &:active
                border: 2px solid #A859C0
    
    // Profile icon in top right corner
    .profile-menu
        grid-column: 1
        grid-row: 1
        position: absolute
        right: 42px
        top: 45px

    // Accordion Information
    .accordion-information
        grid-column: 1
        grid-row: 2
        position: relative
        left: 160px
        top: 38px
        width: 70%    
        height: 245px
        overflow: hidden 
        display: grid
        grid-template-columns: 245px auto
        grid-template-row: 100%
        gap: 0px 0px
        @media (max-width: 1300px)
            left: 150px
        @media (max-width: 1200px)
            width: 750px
        @media (max-width: 1050px)
            transform: scale(0.9)
            left: 100px
        @media (max-width: 1000px)
            left: 80px
        @media (max-width: 900px)
            left: 50px   
        @media (max-width: 800px)
            grid-template-columns: 100% 
            width: 600px
        @media (max-width: 600px)
            left: 30px 
            width: 500px  
        @media (max-width: 500px)
            left: 0px 
            width: 400px     
        @media (max-width: 500px)
            transform: scale(0.9)  
        @media (max-width: 400px)
            transform: scale(0.8)  
        .album-icon
            grid-column: 1
            grid-row: 1
            width: 245px
            height: 245px
            border-radius: 50%
            object-fit: cover
            background: #C4C4C4
            box-shadow: 0px 27px 36px 3px rgba(33, 41, 45, 0.25)
            @media (max-width: 800px)
                display: none     
        .album-info
            grid-column: 2
            grid-row: 1
            margin-left: 35px
            height: 245px
            @media (max-width: 800px)
                grid-column: 1
            @media (max-width: 500px)
                margin-left: 0px
            .type
                margin-top: 20px
                font-family: Rubik
                font-style: normal
                font-weight: 300
                font-size: 18px
                line-height: 21px
                color: $text
                height: fit-content
            .album-title
                margin-top: 10px
                font-family: Rubik
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 47px
                color: $text
                height: fit-content
                text-overflow: ellipsis
            .album-description
                margin-top: 22px
                font-family: Rubik
                font-style: normal
                font-weight: 300
                font-size: 18px
                line-height: 21px
                color: $text                 
                width: 100%
                max-height: 42px
                overflow: hidden
                text-overflow: ellipsis
            .buttons
                margin-top: 20px
                width: 180px
                min-width: 180px 
                .button-play
                    display: inline-block
                    padding: 12px 22px
                    width: 79px
                    height: 43px
                    max-height: 43px
                    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
                    border: none
                    border-radius: 50px             
                    color: $text
                    font-family: Rubik
                    font-style: normal
                    font-weight: 700
                    font-size: 16px
                    line-height: 19px
                    &:hover
                        cursor: pointer
                        background: linear-gradient(180deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
                        color: #000000 
                    &:active
                        border: 3px solid $medium-orange 
                        padding: 9px 19px
                .button-save
                    display: inline-block
                    margin-left: 20px 
                    padding: 11px 21px
                    width: 79px
                    height: 43px
                    background: none
                    color: $text
                    font-family: Rubik
                    font-style: normal
                    font-weight: 700
                    font-size: 16px
                    line-height: 19px   
                    border: 1px solid $text
                    border-radius: 50px
                    &:hover
                        cursor: pointer
                        background: #864099d0
                        color: #000000
                    &:active
                        border: 3px solid $text
                        padding: 9px 19px

// Recently played
.recently-played
    height: 199px
    margin: 53px 38px  
    @media (max-width: 800px)
        margin-bottom: 10px !important
        height: 220px
    .recently-played-cont
        overflow: hidden
        max-height: 155px
        align-content: stretch
        margin-top: 30px
        justify-content: start
        @media (max-width: 800px)
            justify-content: center
        &::-webkit-scrollbar 
            width: 0px
            height: 0px

// Your mix
.your-mix
    height: 271px
    width: 100%
    margin: 0 38px 53px 38px   
    @media (max-width: 800px)
        margin-bottom: 20px !important
        height: 291px
    .your-mix-cont 
        overflow: hidden
        height: 220px
        width: 100%
        margin-top: 30px
        align-content: stretch
        justify-content: start
        @media (max-width: 800px)
            justify-content: center
        &::-webkit-scrollbar 
            width: 0px
            height: 0px


// This is for profile menu
.show
    display: block !important

.header
    font-weight: bold
    font-size: 24px
    line-height: 28px
    color: $text

.items-scroll-box
    min-width: 100%
    position: relative
    margin: 25px 0px
    .header
        margin-bottom: 30px
    .list-of-items
        display: flex
        align-items: center
        .items
            display: grid
            overflow-x: auto
            grid-gap: 25px
            grid-auto-flow: column
            grid-template-columns: repeat(auto-fill, minmax($minimumColumnWidth, 1fr))
            grid-auto-columns: minmax($minimumColumnWidth, 1fr)
            scrollbar-width: none
            &::-webkit-scrollbar
                display: none
        .scroll-button
            width: 33px
            height: 33px
            background: $drk-rain
            color: white
            padding: 5px
            margin: 10px
            display: flex
            align-items: center
            transition: background 0.4s ease
            font-size: 1.2rem
            &:hover
                cursor: pointer
                background: lighten($drk-rain, 8%)
