<main>
  <div class="accordion">
    <!-- Navigation arrows -->
    <div class="arrows">
      <button (click)="nextSlide()" class="arrow-left">
        <i class="chevron left icon"></i>
      </button>
      <button (click)="previousSlide()" class="arrow-right">
        <i class="chevron right icon"></i>
      </button>
    </div>

    <!-- Accordion Information -->
    <div class="accordion-information">
      <img class="album-icon" alt="Album" src="../../../../assets/images/Sunset.jpg">
      <div class="album-info">
        <p class="type">Album</p>
        <p class="album-title">Perfect Morning</p>
        <p class="album-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores facilis deleniti quidem atque obcaecati eaque quod tenetur odit laborum ex explicabo iste placeat, repellendus aliquid alias voluptatibus, quos incidunt? Quos.</p>
      
        <div class="buttons">
        <button class="ui btn-full button button-play">Play</button> 
        <button class="ui inverted basic button btn-ghost button-save">Save</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-content">
    <!-- Recently played -->
    <div class="recently-played">
      <div class="header">Recently played</div>
      <div class="ui grid recently-played-cont">
        <!-- Demonstration cards (delete them) -->
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <!-- Work component -->
        <app-recently-played-card *ngFor="let card of recentlyPlayed"></app-recently-played-card>
      </div>
    </div>


    <!-- New Releases -->
    <div class="items-scroll-box calmRhythms">
      <div class="header">New releases</div>
      <div class="list-of-items">
        <div id="newReleases" class="items">
          <app-circle-info-card *ngFor="let album of newReleases"
          [name]="album.name"
          [description]="album.authors.join(', ')"
          [iconUrl]="album.iconURL"
          >
          </app-circle-info-card>
        </div>
        <div class="scroll-button" (click)="scroll('newReleases')">
          <i class="chevron right icon"></i>
        </div>
      </div>
    </div>

    <!-- Calm rhythms -->
    <div class="items-scroll-box calmRhythms">
      <div class="header">Calm rhythms</div>
      <div class="list-of-items">
        <div id="calmRhythms" class="items">
          <app-square-info-card *ngFor="let playlist of calmRhythms"
          [name]="playlist.name"
          [description]="playlist.description"
          [iconUrl]="playlist.iconURL"
          >
          </app-square-info-card>
        </div>
        <div class="scroll-button" (click)="scroll('calmRhythms')">
          <i class="chevron right icon"></i>
        </div>
      </div>
    </div>

    <!-- Your mix -->
    <div class="your-mix">
      <div class="header">Your mix</div>
      <div id="yourMix"  class="ui grid your-mix-cont">
        <!-- Demonstration cards (delete them) -->
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <!-- Work component -->
        <app-your-mix-card *ngFor="let card of yourMix"></app-your-mix-card>
      </div>
    </div>


    <!-- Top 100 songs -->
    <div class="items-scroll-box calmRhythms">
      <div class="header">Calm rhythms</div>
      <div class="list-of-items">
        <div id="top100Songs" class="items">
          <app-square-info-card *ngFor="let song of top100Songs"
          [name]="song.name"
          [description]="song.description"
          [iconUrl]="song.iconURL"
          >
          </app-square-info-card>
        </div>
        <div class="scroll-button" (click)="scroll('top100Songs')">
          <i class="chevron right icon"></i>
        </div>
      </div>
    </div>
  </div>
</main>
