<main>
  <div class="accordion">
    <!-- Navigation arrows -->
    <div class="arrows">
      <button (click)="nextSlide()" class="arrow">
        <i class="chevron left icon"></i>
      </button>
      <button (click)="previousSlide()" class="arrow">
        <i class="chevron right icon"></i>
      </button>
    </div>

    <!-- Accordion Information -->
    <div class="accordion-information">
      <img
        class="album-icon"
        alt="Album"
        src="{{currentAccordionAlbum.iconURL}}" routerLink="/albums/{{currentAccordionAlbum.id}}" *ngIf="currentAccordionAlbum.iconURL"/>
        <div class="album-icon icon-background" routerLink="/albums/{{currentAccordionAlbum.id}}" *ngIf="!currentAccordionAlbum.iconURL">
          <i class="itunes note icon"></i>
        </div>
      <div class="album-info">
        <p class="type">Album</p>
        <p class="album-title">{{currentAccordionAlbum.name}}</p>
        <p class="album-description">
          {{currentAccordionAlbum.description}}
        </p>

        <div class="buttons">
          <button class="ui btn-full button button-play" (click)="playAlbum(currentAccordionAlbum.id)">Play</button>
          <button *ngIf="idSaveButtonShown" class="ui inverted basic button btn-ghost button-save" (click)="saveAlbum(currentAccordionAlbum.id)">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <!-- Recently played -->
    <div class="recently-played" *ngIf="recentlyPlayed?.length && data.showRecentlyPlayed">
      <div class="header">Recently played</div>
      <div class="ui grid recently-played-cont">
        <app-song-card routerLink="/albums/{{song.album.id}}" *ngFor="let song of recentlyPlayed" 
          [song]="song"></app-song-card>
      </div>
    </div>

    <!-- New Releases -->
    <div class="items-scroll-box calmRhythms">
      <div class="header">New releases</div>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollLeft('album')">
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="album" class="items" appHideScrollButtons>
          <app-new-release-card
            *ngFor="let album of newReleases"
            [id]="album.id"
            [name]="album.name"
            [author]="album.author"
            [iconUrl]="album.iconURL"
          >
          </app-new-release-card>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollRight('album')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>

    <div class="items-scroll-box" *ngFor="let section of data.pageSections?.slice(1)">
      <div class="header">{{section.name}}</div>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollLeft('section-{{section.position}}')">
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="section-{{section.position}}" class="items" appHideScrollButtons>
          <span *ngFor="let entity of section.pageSectionEntities">
            <app-album-card *ngIf="entity.entityType === 0" 
              [album]="entity.entity">
            </app-album-card>
            <app-artist-card *ngIf="entity.entityType === 2"
              [artist]="entity.entity">
            </app-artist-card>
            <app-playlist-card *ngIf="entity.entityType === 1"
              [playlist]="entity.entity">
            </app-playlist-card>
          </span>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollRight('playlist')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>

    <!-- Your mix -->
    <div class="your-mix" *ngIf="data.showMix">
      <div class="header">Your mix</div>
      <div id="yourMix" class="ui grid your-mix-cont">
        <!-- Demonstration cards (delete them) -->
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <!-- Work component -->
        <app-your-mix-card *ngFor="let card of yourMix"></app-your-mix-card>
      </div>
    </div>

  </div>

  <div [ngClass]="['ui', 'success', 'message', 'copied']" *ngIf="isSuccess">
    <div class="header">
      Album was saved
    </div>
  </div>
</main>
