@import "../../../../styles.sass"

*
    padding: 0
    margin: 0
    text-decoration: none

main
    background: $dark-gray
    width: 100%
    height: 100vh
    padding-left: 247px
    overflow-y: scroll
    &::-webkit-scrollbar
        width: 0px
        height: 0px

.accordion
    position: relative
    width: 100%
    height: 401px
    border-radius: 5px
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 66px auto
    background: linear-gradient(90deg, #864099 0%, rgba(70, 65, 146, 0.95) 100%)
    border-radius: 0

    // Navigation arrows   
.arrows
    display: flex

.arrow-left
    background: $pink
    border-radius: 2px
    width: 28px
    height: 28px
    border: 0px solid
    color: $text

.arrow-left:hover
    background: $pink
    cursor: pointer

.arrow-left:active
    border: 2px solid $pink

.arrow-right
    background: $pink
    border-radius: 2px
    width: 28px
    height: 28px
    border: 0px solid
    color: $text
    margin-left: 15px

.arrow-right:hover
    background: $pink
    cursor: pointer

.arrow-right:active
    border: 2px solid $pink

.hat-main-home
    padding: 35px 0 0 35px
    display: flex
    align-items: center
    justify-content: space-between

    // Accordion Information
.accordion > .accordion-information
    grid-column: 1
    grid-row: 2
    position: relative
    left: 160px
    top: 38px
    width: 70%
    height: 245px
    overflow: hidden
    display: grid
    grid-template-columns: 245px auto
    grid-template-row: 100%
    gap: 0px 0px
    @media (max-width: 1300px)
        left: 150px
        @media (max-width: 1200px)
            width: 750px
        @media (max-width: 1050px)
            transform: scale(0.9)
            left: 100px
        @media (max-width: 1000px)
            left: 80px
        @media (max-width: 900px)
            left: 50px
        @media (max-width: 800px)
            grid-template-columns: 100%
            width: 600px
        @media (max-width: 600px)
            left: 30px
            width: 500px
        @media (max-width: 500px)
            left: 0px
            width: 400px
        @media (max-width: 500px)
            transform: scale(0.9)
        @media (max-width: 400px)
            transform: scale(0.8)
    .album-icon
        grid-column: 1
        grid-row: 1
        width: 245px
        height: 245px
        border-radius: 50%
        object-fit: cover
        background: #C4C4C4
        box-shadow: 0px 27px 36px 3px rgba(33, 41, 45, 0.25)
        @media (max-width: 800px)
            display: none
    .album-info
        grid-column: 2
        grid-row: 1
        margin-left: 35px
        height: 245px
        @media (max-width: 800px)
            grid-column: 1
        @media (max-width: 500px)
            margin-left: 0px
        .type
            margin-top: 20px
            font-family: Rubik
            font-style: normal
            font-weight: $light-weight
            font-size: 18px
            line-height: 21px
            color: $text
            height: fit-content
        .album-title
            margin-top: 10px
            font-family: Rubik
            font-style: normal
            font-weight: $bold-weight
            font-size: 40px
            line-height: 47px
            color: $text
            height: fit-content
            text-overflow: ellipsis
        .album-description
            margin-top: 22px
            font-family: Rubik
            font-style: normal
            font-weight: $light-weight
            font-size: 18px
            line-height: 21px
            color: $text
            width: 100%
            max-height: 42px
            overflow: hidden
            text-overflow: ellipsis
        .buttons
            margin-top: 20px
            width: 180px
            min-width: 180px
            .button-play
                display: inline-block
                padding: 12px 22px
                width: 79px
                height: 43px
                max-height: 43px
                background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
                border: none
                border-radius: 50px
                color: $text
                font-family: Rubik
                font-style: normal
                font-weight: $bold-weight
                font-size: 16px
                line-height: 19px
                &:hover
                    cursor: pointer
                    background: linear-gradient(180deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
                    color: $black
                &:active
                    border: 3px solid $medium-orange
                    padding: 9px 19px
            .button-save
                display: inline-block
                margin-left: 20px
                padding: 11px 21px
                width: 79px
                height: 43px
                background: none
                color: $text
                font-family: Rubik
                font-style: normal
                font-weight: $bold-weight
                font-size: 16px
                line-height: 19px
                border: 1px solid $text
                border-radius: 50px
                &:hover
                    cursor: pointer
                    background: #864099d0
                    color: $black
                &:active
                    border: 3px solid $text
                    padding: 9px 19px

// Rows
.recently-played
    margin-left: 25px

.recently-played .ui.row
    margin-top: 30px
    margin-left: 55px
    display: flex
    align-items: baseline
    flex-wrap: wrap

.recently-played .ui.segment
    padding: 0
    margin: 0
    background: $dark-gray

.header-main-home-content
    margin-left: 85px
    margin-top: 50px
    font-size: $bold-weight
    color: $default-white

.main-content-releases
    margin: 30px 0
    display: flex
    overflow-x: scroll
    overflow-y: hidden
    align-items: center

.main-content-releases
    .ui.icon.button
        margin: 10px
        width: 45px
        height: 45px
        display: flex
        align-items: center
    .ui.container
        margin: 0
        padding: 0
        width: 90%
        display: flex
        align-items: baseline
        overflow-y: scroll
        .ui.segment
            background: $dark-gray

.main-content-rhythms
    margin: 30px 0
    display: flex
    overflow-x: scroll
    overflow-y: hidden
    align-items: center
    .ui.icon.button
        margin: 10px
        width: 45px
        height: 45px
        display: flex
        align-items: center
    .ui.container
        margin: 0
        padding: 0
        width: 95%
        display: flex
        align-items: baseline
        overflow-y: scroll
        .ui.segment
            margin: 0
            padding: 10px 0
            background: $dark-gray
