<div class="main-content">
    <div class="saved-albums">
        <div class="liked-songs-banner">
            <div class="content-conteiner">
                <a routerLink="../../songs"><h3>Liked Songs</h3></a>
                <h5>256 songs</h5>
            </div>
        </div>
        <app-circle-info-card *ngFor="let album of albums"
        [name]="album.name"
        [description]="album.description"
        [iconUrl]="album.iconURL"
        >
        </app-circle-info-card>
    </div>
    <div class="liked-playlists">
        <app-square-info-card *ngFor="let playlist of playlists"
        [name]="playlist.name"
        [description]="playlist.description"
        [iconUrl]="playlist.iconURL"
        >
        </app-square-info-card>
    </div>
</div>
