<!-- Main Page -->
<main>
    <div class="main__avatar-box dropdown" (click)="showProfileMenu($event)">
        <img class="avatar" src="https://s3-alpha-sig.figma.com/img/5ba6/3340/8981907adb4cdc9c14be2ac429a30ff6?Expires=1628467200&Signature=F0KRMuqseJflr9PZvKCf6GeWuVkI9hxAeXrvKSVMPdGcHY98Sltas2~pAn~wNyFkRV3Inyn-qL1f5-k~HLx58EeYG75xZSwBIpWNZVOUp8vrB2jKl9ojIT557f7OPVQ0yYGx6vjTCGB8uPbaGp9DWR9JJVuzpuyR0kn~eRTmaO8cveSQDC9rDf-rizQ3JeupdUS-KBv-InGcQ5u7tQLjD1QsUFXLtLg7AB-ZNxPpy6xB9bZKK44HUOu8G6NZIpZOY6cLILsfKwGx-ULoGo8jubwtNrspmAf8N0Zi-JrQmuq1c0JeNdankoH8Mp0CR0b~N~7~voG7LGo16pKRTjJHMg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Avatar">
        <span>marc_dorwart</span>
        <i class="caret down icon"></i>
        <div id="profile-menu" class="dropdown-content">
            <a href="#"><i class="user icon"></i> View account</a>
            <a href="#"><i class="setting icon"></i> Account Settings</a>
            <a href="#"><i class="pencil alternate icon"></i> Edit profile</a>
            <a href="#"><i class="sign-out icon"></i> Log Out</a>
        </div>
    </div>
    

    <!-- 1. Accordion -->
    <div class="main__accordion">
        <div class="arrows-box">
            <button (click)="nextSlide()" class="btn-left ui"><i class="chevron left icon"></i></button>
            <button (click)="previousSlide()" class="btn-left btn-right ui"><i class="chevron left icon"></i></button>    
        </div>
        <div class="accordion-information">
            <img class="album-icon" src="{{currentAlbum.picture}}" alt="Album Icon">
            <div class="album-info">
                <p class="type">Album</p>
                <p class="album-title">{{currentAlbum.name}}</p>
                <p class="album-description">{{currentAlbum.description}}</p>
                <div>
                    <button class="btn-play">Play</button>
                    <button class="btn-save">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 2. Recently played -->
    <div class="recently-played">
        <p class="section-title">Recently played</p>     
        <div class="card">
            
        </div>
    </div>

    <!-- 3. New Releases -->
    <div class="new-releases">
        <p class="section-title">New Releases</p>     
    </div>

    <!-- 4. Calm rhythms -->
    <div class="calm-rhythms">
        <p class="section-title">Calm rhythms</p>   
    </div>

    <!-- 5. Your mix -->
    <div class="your-mix">
        <p class="section-title">Your mix</p>
    </div>

    <!-- 6. Top 100 songs -->
    <div class="top-songs">
        <p class="section-title">Top 100 songs</p>
    </div>
</main>