<div class="card" [routerLink]="['/albums', id]">
  <div class="image">
      <img [src]="iconUrl">  
      <button class="play-icon" appClickStopPropagation>
          <i class="play icon"></i>
      </button>  
  </div>
  <div class="content">
      <div class="card-name"> {{name}} </div>
      <div class="card-desc">
        <span *ngFor="let author of authors; let last = last" appClickStopPropagation>
          <span *ngIf="author.isArtist"><i routerLink="../artists/{{ author.id }}">{{author.name}}</i><span class="separator" [ngClass]="{'last-child': last}">, </span></span>
          <span *ngIf="!author.isArtist"><i *ngIf="!author.isArtist" routerLink="../groups/{{ author.id }}">{{author.name}}</i><span class="separator" [ngClass]="{'last-child': last}">, </span></span>
         </span> 
      </div>
  </div>
</div>
