<div class="list-header">
  <div><span id="index-header"></span></div>
  <div></div>
  <div>
    <span (click)="updateSortType(sortProperties.name)">Name</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.name)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.artist)">Artist</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.artist)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.album)">Album</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.album)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.frequency)">Popularity</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.frequency)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.time)">Time</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.time)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div></div>
</div>
