<div class="ui header">
    <div id="notifications" class="ui floating dropdown" appSmDropdown>
        <div class="icon-background">
            <i class="bell icon"></i>
        </div>
        <div class="new top-right-corner" *ngIf="isAnyNewNotification"></div>
        <div class="menu left">
            <div class="header notifications">
                Notifications
                <span class="link" (click)="markAllAsRead()">Mark all as read</span>
            </div>
            <div class="scrolling menu left" *ngIf="notifications.length > 0">
                <div class="item notification" *ngFor="let n of notifications">
                    <div class="close">
                        <i class="close icon" (click)="deleteNotification(n.id)" appClickStopPropagation></i>
                    </div>
                    <div class="ui empty circular label" [ngClass]="n.isRead ? 'is-read' : 'is-not-read'"
                        [title]="n.isRead ? 'Mark as unread' : 'Mark as read'" (click)="changeState(n, !n.isRead)"
                        appClickStopPropagation>
                    </div>
                    <div class="text">
                        <div class="title">{{n.title}}</div>
                        <div class="message">{{n.description}}
                            <a class="link" (click)="navigateViaLink(n)"
                                *ngIf="displayLink(n)">
                                Link
                            </a>
                            <a class="link" routerLink="/artists/{{n.reference}}"
                              *ngIf="n.type === notificationType.groupMembersNotification">
                              Link
                            </a>
                            <a class="link" routerLink="/playlists/view-playlist/{{n.reference}}"
                              *ngIf="n.type === notificationType.sharePlayNotification">
                              Link
                            </a>
                        </div>
                        <div class="date">{{n.createdAt | date:'yyyy-MM-dd'}}</div>
                    </div>
                </div>
            </div>
            <div class="scrolling menu left" *ngIf="!notifications.length">
                <div class="item">
                    <div class="no-notifications">
                        You don't have any notifications
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>