<main>
  <div class="album">
    <div class="album-details">
      <div class="album-image">
        <div class="fader" (click)="showEditAlbumModal()">
          <i class="image outline icon placeholder-icon"></i>
          <div class="hover-content">
            <i class="edit outline icon"></i>
            <span class="mute">Load image</span>
          </div>
          <img class="ui medium circular image album-icon" alt="Album" src="{{album.iconURL}}" *ngIf="album.iconURL">
        </div>
      </div>
      <div class="album-info">
        <p class="type">Album</p>
        <p class="album-title">
            {{album.name}}
        </p>
        <div class="album-description">
          <span *ngIf="album?.artist || album?.group">{{album?.artist?.userName ?? album?.group?.name}}</span>
          <span class="info" *ngIf="album.songs">
              <span class="divider">|</span> {{album.songs.length}} songs
          </span>
          <span class="info">
              <span class="divider">|</span> {{album.releaseYear}}
          </span>
          <span class="info" *ngIf="album.songs.length">
              <span class="divider">|</span> {{ album.songs | itemsSum:'duration' | albumDuration }}
          </span>
        </div>
        <div class="buttons">
          <button class="btn-full button-play">Play</button>
          <button class="ui button-upload button" (click)="showUploadSongsModal()">Upload songs</button>
          <button class="ui button-upload button" (click)="confirmPublisStatus()">{{publishButtonTitle}}</button>
          <div class="action-icon">
            <div class="ui floating dropdown icon" appSmDropdown>
              <i class="ellipsis vertical icon icons"></i>
              <div class="right menu">
                <div class="item first share">
                  <i class="share alternate icon"></i>Share<i class="dropdown icon"></i>
                  <div class="right menu">
                    <div class="item first last" (click)="copyLink()">
                        Copy link
                    </div>
                </div>
                </div>
                <div class="item last" (click)="confirm('Remove Album', 'Are you sure you want to delete album?')">
                  <i class="trash icon"></i>Remove album
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-songs-upload-modal *ngIf="isSongUploadShown" (isClosed)="closeUpload()" (isFilesSaved)="uploadSongs($event)"></app-songs-upload-modal>

  <app-songs-list *ngIf="album.songs.length" 
    [album]="album" 
    [songs]="album.songs" 
    [isDraggable]="true" 
    [isEditable]="true" 
    (clickMenuItem)="clickMenuHandler($event)">
  </app-songs-list>

  <app-edit-album-modal [editedAlbum]="editedAlbum" *ngIf="isModalShown" (editAlbum)="onSubmitModal($event)" (isClosed)="closeModal()"></app-edit-album-modal>
  <app-confirmation-modal
  *ngIf="isConfirmationModalShown"
  (isClosed)="switchConfirmationModal()"
  (discard)="switchConfirmationModal()"
  (confirm)="onConfirmed()"
  [message]="confirmMessage"
  >
  </app-confirmation-modal>
  <div [ngClass]="['ui', 'success', 'message', 'copied']" *ngIf="isSuccess">
    <div class="header">
      Link copied to clipboard!
    </div>
  </div>
</main>
