<div class="bg-modal-fader" (click)="cancelModal()">
  <div class="ui modal modal-create" appClickStopPropagation>
    <div class="ui icon header">
      Create tag
    </div>
    <div class="content">
      <form name="form" #form="ngForm" class="ui form error">

        <div class="ui field name">
          <input type="text" maxlength="100" placeholder="Name" [(ngModel)]="tag.name" required #name="ngModel"
            name="name" autocomplete="off">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui error message" autocomplete="off">
            <div *ngIf="name.errors?.required">
              Name is required!
            </div>
            <div *ngIf="name.errors?.maxlength">
              Name should consist of max 100 characters.
            </div>
          </div>
        </div>

        <div class="ui field">
          <select class="ui floating dropdown" name="type" #type="ngModel" [(ngModel)]="tag.type" required
            appSmDropdown>
            <option value="" disabled selected>Type</option>
            <option *ngFor="let type of types" [ngValue]="type.key">
              {{type.value}}
            </option>
          </select>
        </div>

        <div class="ui field">
          <div class="form-group buttons">
            <button class="ui button submit btn-full" [disabled]="form.invalid" (click)="onSubmit()">Save</button>
            <button type="button" class="ui btn-cancel inverted basic button" (click)="cancelModal()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>