<div class="now playing" id="music" [ngClass]="isPaused ? 'paused' : ''">
    <span class="bar n1"></span>
    <span class="bar n2"></span>
    <span class="bar n3"></span>
    <span class="bar n4"></span>
    <span class="bar n5"></span>
    <span class="bar n6"></span>
    <span class="bar n7"></span>
    <span class="bar n8"></span>
    <span class="bar n1"></span>
    <span class="bar n2"></span>
    <span class="bar n3"></span>
    <span class="bar n4"></span>
    <span class="bar n5"></span>
    <span class="bar n6"></span>
    <span class="bar n7"></span>
    <span class="bar n1"></span>
    <span class="bar n2"></span>
    <span class="bar n3"></span>
    <span class="bar n5"></span>
    <span class="bar n6 last"></span>
</div>