<div class="bg-modal-fader" (click)="cancelModal()">
  <div class="ui modal modal-upload" (click)="clickOnModal($event)">
    <div class="ui icon header">
      Edit Section
    </div>
    <!-- Modal Content -->
    <div class="content">
      <form #formEdit="ngForm" (ngSubmit)="onSubmit()" class="ui form error" >
        <!-- Hidden -->
        <input type="hidden" [(ngModel)]="editedSection.position" required name="position" #position="ngModel">

        <!-- Name -->
        <div class="ui field name">
          <input type="text" maxlength="20" placeholder="Section name" [(ngModel)]="editedSection.name" 
            required #name="ngModel" pattern="[^<>^@]*" name="name" [attr.disabled]="isAccordion ? '' : null">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="ui error message" autocomplete="off">
            <div *ngIf="name.errors?.required">
              Name is required!
            </div>
            <div *ngIf="name.errors?.pattern">
              Symbols '< > ^ @' are prohibited
            </div>
          </div>       
        </div>

        <div class="search-bar">
          <app-container-search 
            [editedSection]="editedSection" 
            (addDeleteFromSection)="onEntityAddDelete($event)"
            [isAccordion]="isAccordion">
          </app-container-search>
        </div>
      
        <!-- Buttons -->
        <div class="ui field buttons-row">
          <div class="form-group">
            <button type="submit" class="ui button submit btn-full" [disabled]="formEdit.form.invalid">Save</button>
            <button type="button" class="ui btn-cancel inverted basic button" (click)="cancelModal()">Cancel</button>
          </div>
        </div>
        <div class="container"></div>
      </form>
    </div>
  </div>
</div>
