<main>
  <div class="fon-view-playlist">
    <div class="hat-view-playlist">
      <div class="content-view-playlist">
        <div class="image">
          <img src="{{ playlist?.iconURL }}" alt="Avatar playlist" *ngIf="playlist.type === playlistType.playlist" />
          <div class="icon-background" *ngIf="playlist.type !== playlistType.playlist">
            <img class="icon" src="../../../../assets/images/playlist.svg" />
            <p class="playlist-name">
              {{ playlist?.name }}
            </p>
          </div>
        </div>
        <div class="menu-view-playlist">
          <div class="text">Playlist</div>
          <h3>{{ playlist?.name }}</h3>
          <div>
            <span class="total-all" *ngIf="playlist.type === playlistType.playlist">
              {{ playlist?.author?.userName }} 
            </span>
            <span class="total-all" *ngIf="playlist.type !== playlistType.playlist">
              Perflow
            </span>
            <span class="menu-view-playlist-description">
              |
              <span class="total-count-songs">{{ totalCountSongs }} songs
              </span>
              |
              <span class="total-time-songs">{{ hours }} h {{ minutes }} min</span>
            </span>
          </div>
          <div class="view-button-toolbar">
            <button class="ui btn-full button" (click)="play(songs)">Play</button>
            <div class="like" *ngIf="!isAuthor">
              <i class="heart outline icon" (click)="likePlaylist(playlist.id)" *ngIf="!playlist.isLiked"></i>
              <i class="heart icon" (click)="dislikePlaylist(playlist.id)" *ngIf="playlist.isLiked"></i>
            </div>
            <span class="menu">
              <div class="ui floating dropdown ellipsis-button" appSmDropdown>
                <i class="ellipsis vertical icon"></i>
                <div class="menu">
                  <div *ngIf="(isAuthor || isCollaborative) && playlist.type === playlistType.playlist" class="item first" routerLink="../../edit/{{playlist.id}}">
                    <span>
                      <i class="edit outline icon"></i>
                      Edit playlist
                    </span>
                  </div>
                  <div class="item" (click)="addToQueue()" [ngClass]="{'first':!isAuthor && !isCollaborative}">
                    <span>
                      <i class="outdent icon"></i>
                      Add to queue
                    </span>
                  </div>
                  <div class="item" (click)="startRadio()">
                    <span>
                      <i class="podcast icon"></i>
                      Start playlist radio
                    </span>
                  </div>
                  <div *ngIf="canShare(playlist.accessType)" class="item share">
                      <i class="share alternate icon"></i> Share<i class="dropdown icon"></i>
                      <div class="right menu">
                        <div class="item first last" (click)="copyLink()">
                            Copy link
                        </div>
                      </div>
                  </div>
                  <div *ngIf="isAuthor && playlist.type === playlistType.playlist" class="item last" (click)="deletePlaylist()">
                    <span>
                      <i class="trash alternate outline icon"></i>
                      Delete playlist
                    </span>
                  </div>
                </div>
              </div>
            </span>
            <ng-container *ngIf="playlist.accessType === playlistAccessType.collaborative && isCollaborative">
              <button *ngIf="playlist.author?.id === userId && !isConnected" class="ui button-upload button" (click)="sharePlay(playlist)">Share Play</button>
              <button *ngIf="playlist.author?.id !== userId && isPlaylistshared && !isConnected" class="ui button-upload button" (click)="connectToSharePlay(playlist.id)">Connect</button>
              <button *ngIf="isConnected" class="ui button-upload button" (click)="disconnectSharePlay(playlist.id)">Disconnect</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-songs-list [playlist]="playlist" (clickMenuItem)="clickMenuHandler($event)" [songs]="songs"></app-songs-list>
  </div>
</main>
