<main>
  <div class="fon-view-playlist">
    <div class="hat-view-playlist">
      <div class="content-view-playlist">
        <div class="image">
          <img src="{{ playlist?.iconURL }}" alt="Avatar playlist" />
        </div>
        <div class="menu-view-playlist">
          <div class="text">Playlist</div>
          <h3>{{ playlist?.name }}</h3>
          <div>
            <span class="total-all"> {{ playlist?.author?.userName }} </span>
            <span class="menu-view-playlist-description">
              |
              <span class="total-count-songs">{{ totalCountSongs }} songs
              </span>
              |
              <span class="total-time-songs">{{ hours }} h {{ minutes }} min</span>
            </span>
          </div>
          <div class="view-button-toolbar">
            <button class="ui btn-full button" (click)="play()">Play</button>
            <div *ngIf="!isAuthor">
              <i class="heart outline icon" (click)="likePlaylist(playlist.id)" *ngIf="!playlist.isLiked"></i>
              <i class="heart icon" (click)="dislikePlaylist(playlist.id)" *ngIf="playlist.isLiked"></i>
            </div>
            <span class="menu">
              <div class="ui floating dropdown ellipsis-button" appSmDropdown>
                <i class="ellipsis vertical icon"></i>
                <div class="menu">
                  <div class="item first" routerLink="../../edit/{{playlist.id}}">
                      <i class="edit outline icon"></i>
                      Edit playlist
                  </div>
                  <div class="item" (click)="addToQueue()">
                      <i class="outdent icon"></i>
                      Add to queue
                  </div>
                  <div class="item" routerLink="/">
                      <i class="podcast icon"></i>
                      Start playlist radio
                  </div>
                  <div class="item share">
                      <i class="share alternate icon"></i> Share<i class="dropdown icon"></i>
                      <div class="right menu">
                        <div class="item first last" (click)="copyLink()">
                            Copy link
                        </div>
                      </div>
                  </div>
                  <div class="item last" routerLink="/">
                      <i class="hand peace outline icon"></i>
                      About recommendations
                  </div>
                  <div *ngIf="playlist.author?.id === userId" class="item last" (click)="deletePlaylist()">
                      <i class="trash alternate outline icon"></i>
                      Delete playlist
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-songs-list [songs]="songs"></app-songs-list>
  </div>
  <div [ngClass]="['ui', 'success', 'message', 'copied']" *ngIf="isSuccess">
    <div class="header">
      Link copied to clipboard!
    </div>
  </div>
</main>
