@import ../../../../../styles

$image-size: 40px

=flex-container($align-items, $justify-content)
  display: flex
  align-items: $align-items
  justify-content: $justify-content

%ellipsis-overflow
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

%album-cover
  width: $image-size
  height: $image-size
  border-radius: 50%

%font
  color: $text
  font-family: Rubik
  font-style: normal

.text
  @extend %font
  @extend %ellipsis-overflow

.song
  background-color: $drk-gray
  color: $text
  padding-left: 0.5rem
  padding-right: 0.5rem
  border-radius: 50px
  &:hover
    background-color: $light-gray

.song-row
  width: 100%
  display: grid
  grid-template-areas: "song-icon song-name album-name button"
  grid-template-columns: 50px 6fr 4fr 105px
  align-items: center
  padding: 0.5rem 0

.column
  padding-right: 0.5rem
  padding-left: 0.5rem

.song-icon
  grid-area: song-icon
  img
    @extend %album-cover
    object-fit: cover
  .icon-background
    @extend %album-cover
    +flex-container(center, center)
    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
    i
      font-size: 18px
      margin-right: 0 !important

.song-name
  grid-area: song-name
  padding-left: 1rem

.album-name
  text-decoration: none
  grid-area: album-name
  cursor: pointer
  font-style: 0.9em
  a
    color: #afafaf
    &:hover
      text-decoration: underline
      color: $text

.button
  grid-area: button
  justify-self: start
  button
    @extend %font
    cursor: pointer
    width: 90px
    height: 35px
    background: none
    border: 1px solid #afafaf
    border-radius: 50px
    &:hover
      transform: scale(1.05)
      border: 1px solid $text
      color: $text
    &:active
      transform: scale(1)
