<div class="infolist">
    <div class="artistlist">
        <div class="artistslabel">
            <h4>Artists</h4>
        </div>
        <div *ngIf="artists.length > 0">
            <div *ngFor="let artist of artists" class="artist-card">
                <app-artist-card [artist]="artist" (delete)="deleteArtist($event)"></app-artist-card>
            </div>    
        </div>
        <div *ngIf="!artists.length">
            <div class="artistslabel">
                <h5>There are no available artists now</h5>
            </div> 
        </div>
    </div>    
</div>
