@import '../../../../styles'

$image-size: 245px

%avatar
    width: $image-size
    height: $image-size
    border-radius: 50%

=flex-container($align-items, $justify-content)
    display: flex
    align-items: $align-items
    justify-content: $justify-content

main
    background: $drk-gray
    width: 100%
    height: 100%
    min-height: calc(100vh - #{$song-toolbar-height})

.album
    width: 100%
    height: 401px
    border-radius: 5px
    display: grid
    grid-template-areas: "left-col album-details right-col"
    grid-template-columns: 1fr 6fr 1fr
    background: linear-gradient(90deg, #864099 0%, rgba(70, 65, 146, 0.95) 100%)
    margin-bottom: 1rem
    .album-details
        grid-area: album-details
        width: 100%
        display: grid
        grid-template-areas: "album-image album-info"
        grid-template-columns: $image-size 1fr
        .album-image
            grid-area: album-image
            text-align: center
            padding-top: 104px
            .image
                @extend %avatar
                box-shadow: 0 0 20px 10px rgba(50, 50, 93, 0.35)
                object-fit: cover
            .icon-background
                @extend %avatar
                +flex-container(center, center)
                background: $light-orange
                box-shadow: 0 0 20px 10px rgba(50, 50, 93, 0.35)
                i
                    font-size: 64px
                    margin-top: 3rem
                    color: $text
                    margin-right: 0 !important         
        .album-info 
            grid-area: album-info
            padding-top: 104px
            flex-direction: column
            +flex-container(left, left)
            margin-left: 35px
            color: $text
            .type
                margin-top: 2rem
                font-weight: $light-weight
                font-size: 18px
                line-height: 21px
            .album-title
                margin-top: 10px
                font-weight: $bold-weight
                font-size: 40px
                line-height: 47px
            .album-description
                margin-top: 1.2rem
                padding-bottom: 1rem
                font-weight: $light-weight
                font-size: 16px
                line-height: 21px
                .info
                    opacity: 0.8
                .divider
                    padding-left: 10px
                    padding-right: 10px
            .buttons
                margin-top: 20px
                .button-play
                    padding: 12px 22px
                    font-weight: $bold-weight
                    border: none
                    margin-right: 10px
                    &:hover
                        cursor: pointer
                        color: black
                .action-icon
                    display: inline-block
                    margin-left: 10px
                    margin-right: 10px
                    .icons
                        font-size: 18px
                        &:hover
                            cursor: pointer

.menu
    border: 0.5px solid #373C43 !important
    border-radius: 2px

.ui.dropdown
    background-color: transparent !important

.ui.floating.dropdown
    >.menu
        box-shadow: none !important
        >.item.first
            padding-top: 18px !important
        >.item.last
            padding-bottom: 18px !important
        >i.dropdown.icon 
            margin-left: 3rem !important
            margin-right: 0em !important

.item.first.share
    >.menu
        font-family: 'Montserrat' !important
        box-shadow: none !important
        margin-left: 0px !important
        >.item.first.last
          padding: 18px !important
          padding-top: 14px !important
          padding-bottom: 14px !important

.item
    background-color: $light-gray
    color: $text !important
    font-family: 'Montserrat' !important
    font-style: normal !important
    &:hover
        background-color: $drk-gray !important
        cursor: pointer
    &:active
        background-color: $drk-gray !important
        font-weight: $medium-weight !important
    >i, >.img-wrapper
        margin-right: 1rem !important

.item.active.selected
    background-color: $light-gray !important
    font-weight: $normal-weight !important
    &:hover
        background-color: $drk-gray !important

.anotherAlbums
    margin-top: 2rem
    margin-bottom: 2rem
    .header
        padding-left: 1rem
        font-weight: $medium-weight
        font-size: 26px
        line-height: 32px
        color: $text
    .albums
        position: relative
        margin: 1rem
        overflow: hidden
        .albums-cards
            position: relative
            display: flex
            width: 100%
            height: 280px
            overflow-y: scroll
            &::-webkit-scrollbar 
                display: none  
            .card
                margin-right: 42px       
    .scroll-box
        width: 40px
        position: absolute
        right: 0px
        top: 0px
        bottom: 0px
        display: flex
        align-items: center
        justify-content: center
        background: $drk-gray
        .scroll-button
            width: 30px
            height: 30px
            font-size: 1.2rem
            color: $text
            border: none
            border-radius: 3px
            background: $light-gray
            cursor: pointer
            &:hover
                background: #373C43
