<main>
  <div class="album">
    <div class="album-details">
      <div class="album-image">
        <img class="image" alt="Album" [src]="album.iconURL" *ngIf="album.iconURL">
        <div class="icon-background" *ngIf="!album.iconURL">
          <i class="itunes note icon"></i>
        </div>
      </div>
      <div class="album-info">
        <p class="type">Album</p>
        <p class="album-title">
          {{album.name}}
        </p>
        <p class="description" *ngIf="album.description">
          {{album.description}}
        </p>
        <div class="album-description">
          <span *ngIf="album?.artist || album?.group">{{album?.artist?.userName ?? album?.group?.name
            }}</span>
          <span class="info" *ngIf="album.songs">
            <span class="divider">|</span> {{album.songs.length}} songs
          </span>
          <span class="info">
            <span class="divider">|</span> {{album.releaseYear}}
          </span>
          <span class="info" *ngIf="album.songs">
            <span class="divider">|</span> {{ album.songs | itemsSum:'duration' | albumDuration }}
          </span>
        </div>
        <div class="buttons">
          <button class="btn-full button-play" (click)="playAlbum()">Play</button>
          <div class="action-icon" *ngIf="!isAuthor">
            <i class="heart outline icon icons" (click)="likeAlbum()" *ngIf="!album.isLiked"></i>
            <i class="heart icon icons" (click)="dislikeAlbum()" *ngIf="album.isLiked"></i>
          </div>
          <div class="action-icon">
            <div class="ui floating dropdown icon" appSmDropdown>
              <i class="ellipsis vertical icon icons"></i>
              <div class="right menu">
                <div class="item first share">
                  <i class="share alternate icon"></i>Share<i class="dropdown icon"></i>
                  <div class="right menu">
                    <div class="item first last" (click)="copyLink()">
                      Copy link
                    </div>
                  </div>
                </div>
                <div class="item" *ngIf="isAuthor" routerLink="/perflowstudio/albums/edit/{{album.id}}">
                  <i class="edit icon"></i>Edit album
                </div>
                <div class="item" *ngIf="isAuthor" (click)="removeAlbum()">
                  <i class="trash icon"></i>Remove album
                </div>
                <div class="item last" (click)="addToQueue()">
                  <i class="outdent alternate icon"></i>Add to queue
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content-container">
    <app-songs-list [album]="album" [songs]="album.songs" (clickMenuItem)="clickMenuHandler($event)" [isGroupMember]="isAuthor"></app-songs-list>
    <div class="anotherAlbums" *ngIf="anotherAlbums.length > 0">
      <div class="items-scroll-box top-artists">
        <h4 class="header">Another albums</h4>
        <div class="list-of-items">
          <div class="ui icon button scroll-button" (click)="scrollGridLeft('another-albums', '.items')">
            <i class="large inverted angle left icon"></i>
          </div>
          <div id="another-albums" class="items" appHideScrollButtons>
            <app-album-card class="card" *ngFor="let album of anotherAlbums" [album]="album" [isLiked]=false>
            </app-album-card>
          </div>
          <div class="ui icon button scroll-button" (click)="scrollGridRight('another-albums', '.items')">
            <i class="large inverted angle right icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>