<div class="ui visible sidebar vertical menu">
  <div class="logo">
    <a class="ui logo icon image" routerLink="/home">
      <img class="name-logo" src="../../../../assets/Logo.png"/>
    </a>
  </div>
  <div class="routers" >
    <div>
      <a routerLink="./home" routerLinkActive="active-link" >
        <span class="circle-fire"> <i class="fire icon"></i></span>
        <h5 class="name-route">Home</h5>
      </a>
    </div>
    <div>
      <a routerLink="./search" routerLinkActive="active-link" >
        <span class="circle-fire"> <i class="search icon"></i></span>
        <h5 class="name-route">Search</h5>
      </a>
    </div>
    <div>
      <a routerLink="./playlists" [routerLinkActive]="['active-link']" >
        <span class="circle-fire"> <i class="music icon"></i></span>
        <h5 class="name-route">My playlists</h5>
      </a>
    </div>
    <div>
      <a routerLink="./songs" routerLinkActive="active-link" >
        <span class="circle-fire"> <i class="heart icon"></i></span>
        <h5 class="name-route">Liked songs</h5>
      </a>
    </div>
  </div>
  <div class="playlists-menu">
    <span class="title" *ngIf="playlists.length > 0">
      <h6>Created playlists</h6>
    </span>
    <ul *ngFor="let playlist of playlists">
      <li >
        <a  [routerLink]="['/playlists/view-playlist', playlist.id]" routerLinkActive="active-link" >{{ playlist.name }} </a>
      </li>
    </ul>
    <button class="ui btn-full button create-playlist" routerLink="/playlists/create" (click)="createPlaylist()">
      Create Playlist
    </button>
  </div>  
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>