@import "../../../../styles.sass"
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

.ui.visible.sidebar.vertical.menu
    width: 247px
    padding-left: 40px
<<<<<<< HEAD
    background: $dark-gray
=======
    background: $drk-gray
>>>>>>> merge
    border-right: 1.5px solid #373C43
    &::-webkit-scrollbar
        width: 0px
        height: 0px

.container
    height: 100vh
    width: auto
<<<<<<< HEAD
    background: $dark-gray

.logo
    padding: 0
    display: flex
    width: 100px
    top: 45px
=======
    background: $drk-gray

.logo
    margin-top: 25px
    padding: 0
>>>>>>> merge

.ui.logo.icon.image
    font-size: 20px
    color: #CDCDCD
    opacity: 50%

.name-logo
    padding-left: 5px
    font-family: "Montserrat", sans-serif
    font-style: normal
    font-weight: $medium-weight
    letter-spacing: 0.01em

.name-route
    padding-left: 20px
    color: $text

.routers
<<<<<<< HEAD
    position: relative
    top: 90px
=======
    margin-top: 50px
>>>>>>> merge
    width: max-content
    border-bottom: 1.5px solid #373C43

.routers > div
    margin-bottom: 40px

.playlists-menu
<<<<<<< HEAD
    position: relative
    top: 100px
    width: max-content
    margin-top: 40px
    color: $default-white

li
=======
    width: max-content
    margin-top: 40px
    color: $text

li
    line-height: 1.5
>>>>>>> merge
    margin-top: 20px
    color: $medium-orange

li > span
<<<<<<< HEAD
    color: $default-white
=======
    color: $text
>>>>>>> merge

.btn-create-playlist
    margin-top: 25px
    padding: 10px 20px
    width: 160px
    height: 40px
    background: $fire-orange
    border-radius: 50px
<<<<<<< HEAD
    color: $default-white
    &:hover
        cursor: pointer
        color: $black
=======
    color: $text
    &:hover
        cursor: pointer
        color: #000
>>>>>>> merge
    &:active
        border: 3px solid $medium-orange

i
<<<<<<< HEAD
    color: $default-white
=======
    color: $text
>>>>>>> merge

a
    display: flex
    text-align: center
    flex-direction: row
    align-items: center

.playlist
    font-weight: $light-weight

.circle-fire
    width: 30px
    height: 30px
    border-radius: 100%
    position: relative
    transition: .3s
<<<<<<< HEAD
    background: $dark-gray
=======
    background: $drk-gray
>>>>>>> merge
    i
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        font-size: 16px
        transition: .3s

.active-link > .circle-fire
    background: $fire-orange

.active-link > .name-route
    color: $medium-orange
