<div class="ui visible sidebar vertical menu">
  <div class="logo">
    <a class="ui logo icon image" routerLink="/home">
      <img src="../../../../assets/Logo.png"/>
    </a>
  </div>
  <div class="routers" >
    <div routerLink="./home" routerLinkActive="active-link" class="clickable">
      <a>
        <span class="circle-fire"> <i class="fire icon"></i></span>
        <h5 class="name-route">Home</h5>
      </a>
    </div>
    <div routerLink="./search" routerLinkActive="active-link" class="clickable">
      <a>
        <span class="circle-fire"> <i class="search icon"></i></span>
        <h5 class="name-route">Search</h5>
      </a>
    </div>
    <div routerLink="./playlists" [routerLinkActive]="['active-link']" class="clickable">
      <a>
        <span class="circle-fire"> <i class="music icon"></i></span>
        <h5 class="name-route">My playlists</h5>
      </a>
    </div>
    <div routerLink="./songs" routerLinkActive="active-link" class="clickable">
      <a>
        <span class="circle-fire"> <i class="heart icon"></i></span>
        <h5 class="name-route">Liked songs</h5>
      </a>
    </div>
  </div>
  <div class="playlists-menu">
    <div class="section">
      <span class="title" *ngIf="playlists.length > 0">
        <h6>Created playlists</h6>
      </span>
      <ul>
        <li *ngFor="let playlist of playlists" [routerLink]="['/playlists/view-playlist', playlist.id]" 
          routerLinkActive="active-link"  class="clickable">
            <span class="show-name" *ngIf="playlist.id !== editedPlaylist.id">
              <span>{{ playlist.name }}</span>
              <i class="ellipsis vertical icon pl-settings" (click)="playlistSettingsClick(playlist, $event)" appClickStopPropagation></i>
            </span>
            <span class="edit-name" *ngIf="isEditPlaylistMode && playlist.id === editedPlaylist.id">
              <input type="text" [(ngModel)]="editedPlaylist.name" (clickOutside)="clickOutsidePlaylistName()" 
                appClickStopPropagation (keyup)="inputKeyup($event)">
            </span>
        </li>
      </ul>
    </div>
    <div class="section"> 
      <span class="title" *ngIf="collaborativePlaylists.length > 0">
        <h6>Collaborative</h6>
      </span>
      <ul>
        <li *ngFor="let playlist of collaborativePlaylists" [routerLink]="['/playlists/view-playlist', playlist.id]" 
          routerLinkActive="active-link"  class="clickable">
            <span class="show-name" *ngIf="playlist.id !== editedPlaylist.id">
              <span>{{ playlist.name }}</span>
              <i class="ellipsis vertical icon pl-settings" (click)="playlistSettingsClick(playlist, $event, true)" appClickStopPropagation></i>
            </span>
            <span class="edit-name" *ngIf="isEditPlaylistMode && playlist.id === editedPlaylist.id">
              <input type="text" [(ngModel)]="editedPlaylist.name" (clickOutside)="clickOutsidePlaylistName()" 
                appClickStopPropagation (keyup)="inputKeyup($event)">
            </span>
        </li>
      </ul>
    </div>
    <button class="ui btn-full button create-playlist" routerLink="/playlists/create">
      Create Playlist
    </button>
  </div>  
</div>


<div class="pl-menu" #ddmenu (clickOutside)="clickOutside()" appClickStopPropagation>
  <div class="item first" (click)="clickOnMenuItem('')">
    <span>
      <i class="outdent icon"></i>
      Add to queue
    </span>
  </div>
  <div class="item" (click)="startRadio()">
    <span>
      <i class="podcast icon"></i>
      Start playlist radio
    </span>
  </div>
  <div class="item" *ngIf="!isPlaylistSecret() && !isPlaylistCollaborativeSettings()" (click)="clickOnMenuItem('Make Secret')">
    <span>
      <i class="user secret icon"></i>
      Make secret
    </span>
  </div>
  <div class="item" *ngIf="isPlaylistSecret() && !isPlaylistCollaborativeSettings()" (click)="clickOnMenuItem('Make Default')">
    <span>
      <i class="user secret icon"></i>
      Make default
    </span>
  </div>
  <div class="item" (click)="clickOnMenuItem('Edit details')">
    <span>
      <i class="edit outline icon"></i>
      Edit details
    </span>
  </div>
  <div class="item" (click)="clickOnMenuItem('Create similar playlist')">
    <span>
      <i class="clone icon"></i>
      Create similar playlist
    </span>
  </div>
  <div class="item" (click)="clickOnMenuItem('Delete')">
    <span>
      <i class="trash alternate outline icon"></i>
      Delete
    </span>
  </div>
  <div class="item" (click)="clickOnMenuItem('Rename')">
    <span>
      <i class="i cursor icon"></i>
      Rename
    </span>
  </div>
  <div class="item" (click)="clickOnMenuItem('Create playlist')">
    <span>
      <i class="file icon"></i>
      Create playlist
    </span>
  </div>
  <div *ngIf="canShare()" class="item last share-menu">
    <span>
      <i class="share alternate icon"></i>Share<i class="caret right icon"></i>
    </span>
    <div class="submenu">
      <div class="item" (click)="clickOnMenuItem('Copy link')" appClickStopPropagation>
        <span>
          Copy link
        </span>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>