<main>
  <div class="accordion">
    <!-- Navigation arrows -->
    <div class="arrows">
      <button (click)="nextSlide()" class="arrow-left">
        <i class="chevron left icon"></i>
      </button>
      <button (click)="previousSlide()" class="arrow-right">
        <i class="chevron right icon"></i>
      </button>
    </div>

    <!-- Accordion Information -->
    <div class="accordion-information">
        <img class="user-avatar" alt="Avatar" src="https://s3-alpha-sig.figma.com/img/5ba6/3340/8981907adb4cdc9c14be2ac429a30ff6?Expires=1628467200&Signature=F0KRMuqseJflr9PZvKCf6GeWuVkI9hxAeXrvKSVMPdGcHY98Sltas2~pAn~wNyFkRV3Inyn-qL1f5-k~HLx58EeYG75xZSwBIpWNZVOUp8vrB2jKl9ojIT557f7OPVQ0yYGx6vjTCGB8uPbaGp9DWR9JJVuzpuyR0kn~eRTmaO8cveSQDC9rDf-rizQ3JeupdUS-KBv-InGcQ5u7tQLjD1QsUFXLtLg7AB-ZNxPpy6xB9bZKK44HUOu8G6NZIpZOY6cLILsfKwGx-ULoGo8jubwtNrspmAf8N0Zi-JrQmuq1c0JeNdankoH8Mp0CR0b~N~7~voG7LGo16pKRTjJHMg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        <div class="user-info">
          <div class="user-profile">Profile</div>
          <div class="ui dropdown" (click)="showProfileMenu()" (clickOutside)="onClickOutsideProfileMenu($event)">
            <i class="ellipsis vertical icon"></i>
            <div class="dropdown-content" *ngIf="isProfileMenuShown">
              <a routerLink="/" class="item"><i class="edit icon"></i> Edit Profile</a><br>
              <a routerLink="/" class="item"><i class="share alternate icon"></i> Share Profile</a>
            </div>
          </div>
          <p class="user-name">marc_dorwart</p>
      </div>
    </div>
  </div>
</main>