
<div class="landing-page-container">
    <div class="ui equal height padded grid" style="min-height: 100%">
        <div class="five wide column">
            <img class="ui img landing-page-side-image" src="/../../assets/LandingPageSideImage.jpg"/>
        </div>
        <div class="eleven wide column" style="padding: 0 0 0 0 ;">
            <div class="main-content-container">
                <div class="logo">
                    Logo
                </div>
                <div class="main-content">
                    <div class="ui grid" style="height: 100%">
                        <div class="seven wide column">
                            <div class="welcome-text">

                            </div>
                        </div>
                        <div class="one wide column "></div>
                        <div class="eight wide column">
                            <div class="login-form">
                                <!-- Login start -->
                                <div class="ui centered grid container">
                                    <div class="column">
                                        <div class="content">
                                            <h4>Log In</h4>
                                            <p>Don't have an account? <a href="url">Sign up</a></p>
                                            <form class="ui form" method="POST">
                                                <div class="field">
                                                    <input type="text" placeholder="Email adress or username" autocomplete="username">
                                                </div>
                                                <div class="field">
                                                    <div class="ui icon input">
                                                        <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" autocomplete="new-password">
                                                        <i class="eye slash link icon eye-slash-icon" (click)="toggleShowPassword()"></i>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Login end -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fake"></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="ui grid">
    <div class="left floated six wide column" style="background: sienna;"></div>
    <div class="right floated six wide column" style=" background: red"></div>
</div> -->


