<!-- <div class=" landing-page-container">
    
    <img class="landing-page-side-image" src="/../../assets/LandingPageSideImage.jpg"/>
    <div class="ui segment main-content-container">
        <div class="logo"></div>
        <div class="ui grid main-content">
            <div></div>
            <div></div>
        </div>
    </div>
</div> -->

<div class="landing-page-container">
    <div class="ui equal height padded grid" style="min-height: 100%">
        <div class="five wide column">
            <img class="ui img landing-page-side-image" src="/../../assets/LandingPageSideImage.jpg"/>
        </div>
        <div class="eleven wide column" style="padding: 0 0 0 0 ;">
            <div class="main-content-container">

            </div>
        </div>
    </div>
</div>


