
<div class="landing-page-container">
    <div class="ui equal height padded grid" style="min-height: 100%">
        <div class="five wide column">
            <img class="ui img landing-page-side-image" src="/../../assets/LandingPageSideImage.jpg"/>
        </div>
        <div class="eleven wide column" style="padding: 0 0 0 0 ;">
            <div class="main-content-container">
                <div class="logo">
                    <h4>Logo</h4>
                </div>
                <div class="main-content">
                    <div class="ui grid" style="height: 100%">
                        <div class="eight wide column">
                            <div class="welcome-text">
                                <h5>Welcom</h5>
                                <h1>No music, no life</h1>
                                <p class="gray-text">To continue, log in to Music</p>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="login-form gray-text">
                                <!-- Login start -->
                                <h4>Log In</h4>
                                <p>Don't have an account? <a class="sign-up-link" href="url">Sign up</a></p>
                                <form class="ui form" method="POST">
                                    <div class="field">
                                        <input type="text" placeholder="Email adress or username" autocomplete="username">
                                    </div>
                                    <div class="field password-field">
                                        <div class="ui icon input passwordText">
                                            <input class="passwordText" [type]="showPassword ? 'text' : 'password'" placeholder="Password" autocomplete="new-password"> 
                                            <i class="eye slash link icon eye-slash-icon gray-text" (click)="toggleShowPassword()"></i>
                                        </div>
                                    </div>
                                </form>
                                <p class="forgot-password-link" ><a class="gray-text" href="url">Forgot your password?</a></p>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="ui checkbox remember-me">
                                        <input type="checkbox" name="example">
                                        <label>Remember me</label>
                                    </div>
                                    <div class="ui btn-full button log-in-btn">
                                        Log In
                                    </div>
                                </div>
                                <div class="ui divider" style="margin: 60px 0px 61px 0px;"></div>
                                <div class="social-media-buttons">
                                    <div class="sphere">
                                        <button class="ui circular icon button">
                                            <i class="google icon"></i>
                                        </button>
                                    </div>
                                    <div class="sphere">
                                        <button class="ui circular icon button">
                                            <i class="apple icon"></i>
                                        </button>
                                    </div>
                                    <div class="sphere" style="margin-right: 0px">
                                        <button class="ui circular icon button">
                                            <i class="facebook icon"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Login end -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fake"></div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="ui grid">
    <div class="left floated six wide column" style="background: sienna;"></div>
    <div class="right floated six wide column" style=" background: red"></div>
</div> -->


