<div class="card" (click)="handleClick()" [ngClass]="{'checked':isChecked}">
  <div class="image-block">
    <div class="section-delete" (click)="onDeleteFromSectionClick(album)" appClickStopPropagation *ngIf="!isCheckBox && isDeletable">
      <i class="trash alternate outline icon"></i>
    </div>
    <div class="image">
      <img [attr.src]="album.iconURL" alt="Album" *ngIf="album.iconURL" />
      <div class="icon-background" *ngIf="!album.iconURL">
        <i class="itunes note icon"></i>
      </div>
    </div>
    <div class="edit" routerLink="/perflowstudio/albums/edit/{{album.id}}" appClickStopPropagation *ngIf="isForEdit">
      <i class="pencil icon ui"></i>
    </div>
    <div class="remove" (click)="onDeleteClick(album)" appClickStopPropagation *ngIf="!isForEdit && isLiked && !isCheckBox && !isLikeButtonHidden">
      <i class="like icon ui"></i>
    </div>
    <button *ngIf="!isCheckBox" class="play-icon" appClickStopPropagation (click)="playAlbum(album.id)">
      <i class="play icon"></i>
    </button>
    <span class="unpublished" *ngIf="showPublishedStatus && !album.isPublished">Unpublished</span>
  </div>
  <div class="info-block">
    <div class="album-name tub">
      <h5>{{ album.name }}</h5>
    </div>
    <div class="album-author tub" [ngClass]="{'published':showPublishedStatus && album.isPublished}">
      <span>{{ album.authorName }}</span>
    </div>
    <div class="album-year tub" [ngClass]="{'checked':isChecked}">
      <span>{{ album.releaseYear }}</span>
    </div>
  </div>
</div>