@import "../../../../../styles.sass"

img
    width: 160px
    height: 160px
    margin: 0 auto
    overflow: hidden
    border-radius: 50%

.album-card
    margin: 0 10px
    width: 200px
    display: flex
    flex-direction: column
    align-items: center
    background: $dark-gray
    .fader
        display: flex
        justify-content: center

        &:hover
            .play-icon
                opacity: 0.7
        .play-icon
            position: absolute
            left: 50%
            top: 35%
            transform: translate(-50%, -50%)
            font-size: 16px
            transition: .3s
            border: none
            border-radius: 2px
            background: $fire-orange
            opacity: 0
            cursor: pointer
            transition: opacity 0.4s ease
            i
                margin: 5px

    .card-name
        margin-top: 10px
        text-align: center
        color: $text
        display: -webkit-box
        -webkit-line-clamp: 01
        -webkit-box-orient: vertical
        overflow: hidden
    .card-desc
        margin-top: 5px
        padding: 4px
        font-style: normal
        font-weight: $light-weight
        font-size: 14px
        text-align: center
        color: $text
        display: -webkit-box
        -webkit-line-clamp: 02
        -webkit-box-orient: vertical
        overflow: hidden
