@import ../playlist-card-styles
@import ../../../../../styles

.card
    .icon-background
        background: $gray-gradient
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        i
            font-size: 64px
            margin-top: 3rem
            color: $text
            margin-right: 0 !important
    .section-delete
        visibility: hidden
        position: absolute
        text-align: center
        top: 1px
        right: 1px
        color: $medium-orange
        &:hover
            color: red
    .remove
        right: 25px
        bottom: 25px
    .edit
        right: 25px
        bottom: 25px
        i
            color: $text
            &:hover
                color: black
    .info-block
        .album-author
            font-weight: $light-weight
            color: lighten($gray, 15%)
        .album-year
            position: absolute
            right: 10px
            bottom: 5px
            color: lighten($gray, 15%)
        .album-year.checked,
        .album-year.published,
        .album-author.published
            color: white
            background: transparent
    .play-icon
        top: 32px
        right: 32px
    &:hover
        .section-delete
            visibility: visible
        .play-icon
            opacity: 1

.checked,
.published
    background: $orange-gradient
