@import "../../../../../styles.sass"

.album-card
    width: 215px
    margin: 0 20px
    display: flex
    flex-direction: column
    align-items: center
    .fader
        width: 190px
        height: 190px
        border-radius: 50%
        position: relative
        transition: .3s
        overflow: hidden
        display: flex
        justify-content: center

        &:hover
            #play-icon
                opacity: 0.7
        .play-icon
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            font-size: 16px
            transition: .3s
            border: none
            border-radius: 2px
            background: $fire-orange
            opacity: 0
            cursor: pointer
            transition: opacity 0.4s ease
            i
                margin: 5px

        img
            width: 100%
            height: 100%
            object-fit: cover

    .card-name
        margin-top: 10px
        text-align: center
        color: $text
        display: -webkit-box
        -webkit-line-clamp: 01
        -webkit-box-orient: vertical
        overflow: hidden
    .card-desc
        margin-top: 5px
        padding: 4px
        font-style: normal
        font-weight: $light-weight
        font-size: 14px
        text-align: center
        color: $text
        display: -webkit-box
        -webkit-line-clamp: 02
        -webkit-box-orient: vertical
        overflow: hidden