<div class="card" routerLink="/albums/{{album.id}}">
  <div class="image-block">
    <div class="image">
      <img [attr.src]="album.iconURL" alt="Album" />
    </div>
    <div class="edit" routerLink="/albums/edit/{{album.id}}" appClickStopPropagation *ngIf="isForEdit">
        <i class="pencil icon ui"></i>
    </div>
    <div class="remove" (click)="onDeleteClick(album)" appClickStopPropagation *ngIf="!isForEdit && isLiked">
      <i class="like icon ui"></i>
    </div>
    <div class="remove btn-play" *ngIf="!isForEdit && !isLiked" appClickStopPropagation>
      <i class="play icon ui"></i>
    </div>
  </div>
  <div class="info-block">
    <div class="album-name tub">
      <h5>{{ album.name }}</h5>
    </div>
    <div class="album-author tub">
      <span>{{ album.author.name }}</span>
    </div>
    <div class="album-year tub">
      <span>{{ album.releaseYear }}</span>
    </div>
  </div>
</div>
