<main>
  <div class="artist">
    <div class="artist-details">
      <div class="artist-image">
        <img class="image" alt="Artist" [src]="artist.iconURL" *ngIf="artist.iconURL">
        <div class="icon-background" *ngIf="!artist.iconURL">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="artist-info">
        <p class="artist-title">
          {{artist.userName}}
        </p>
        <div class="artist-description">
          {{artist.description}}
        </div>
        <div class="buttons">
          <button class="btn-full button-play" (click)="playArtist()">Play</button>
          <div class="action-icon" *ngIf="!isArtist">
            <i class="heart outline icon icons" (click)="likeArtist()" *ngIf="!artist.isLiked"></i>
            <i class="heart icon icons" (click)="dislikeArtist()" *ngIf="artist.isLiked"></i>
          </div>
          <div class="action-icon">
            <div class="ui floating dropdown icon" appSmDropdown>
              <i class="ellipsis vertical icon icons"></i>
              <div class="right menu">
                <div class="item first" (click)="addToQueue()">
                  <i class="outdent alternate icon"></i>Add to queue
                </div>
                <div class="item" *ngIf="!isArtist" (click)="likeArtist()">
                  <i class="bell icon"></i>Subscribe
                </div>
                <div class="item last share">
                  <i class="share alternate icon"></i>Share<i class="dropdown icon"></i>
                  <div class="right menu">
                    <div class="item first last" (click)="copyLink()">
                      Copy link
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content-container">
    <app-songs-list *ngIf="topSongs.length > 0" [songs]="topSongs"></app-songs-list>
    <div class="items-scroll-box top-artists" *ngIf="artistAlbums.length > 0">
      <h4 class="header">Albums</h4>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollGridLeft('albums', '.items')">
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="albums" class="items" appHideScrollButtons>
          <app-album-card class="card" *ngFor="let album of artistAlbums" [album]="album" [isLiked]=false>
          </app-album-card>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollGridRight('albums', '.items')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>
    <div class="items-scroll-box top-artists" *ngIf="artistSingles.length > 0">
      <h4 class="header">Singles</h4>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollGridLeft('singles', '.items')">
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="singles" class="items" appHideScrollButtons>
          <app-album-card class="card" *ngFor="let album of artistSingles" [album]="album" [isLiked]=false>
          </app-album-card>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollGridRight('singles', '.items')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>
    <div class="items-scroll-box top-artists" *ngIf="artistPlaylists.length > 0">
      <h4 class="header">Artist Playlists</h4>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollGridLeft('playlists', '.items')">
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="playlists" class="items" appHideScrollButtons>
          <app-playlist-card class="card" *ngFor="let pl of artistPlaylists" [playlist]="pl">
          </app-playlist-card>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollGridRight('playlists', '.items')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>
  </div>
</main>