<div class="page-container">
    <div class="main-content">
        <h4>Settings</h4>
        <section class="settings-group">
            <h5 class="header">Language</h5>
            <div class="item">
                <div class="name">Select language</div>
                <div class="value">
                    <div class="ui floating fluid dropdown my-dropdown" appUIDropdown>
                        <div class="text">Engish</div>
                        <i class="chevron down icon"></i>
                        <div class="menu">
                            <div class="item">Engish</div>
                            <div class="item">Russian</div>
                            <div class="item">Ukranian</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-group">
            <h5 class="header">Explicit content</h5>
            <div class="item">
                <div class="name">Show songs without censorship</div>
                <div class="value">
                    <div class="ui toggle checkbox my-checkbox">
                        <input type="checkbox" name="public">
                        <label></label>
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-group">
            <h5 class="header">Autoplay</h5>
            <div class="item">
                <div class="name">Play recommended songs after the queue reach the end</div>
                <div class="value">
                    <div class="ui toggle checkbox my-checkbox">
                        <input type="checkbox" name="public">
                        <label></label>
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-group">
            <h5 class="header">Audio quality</h5>
            <div class="item">
                <div class="name">Streaming quality</div>
                <div class="value">
                    <div class="ui floating fluid dropdown my-dropdown" appUIDropdown>
                        <div class="text">High</div>
                        <i class="chevron down icon"></i>
                        <div class="menu">
                            <div class="item">Low</div>
                            <div class="item">Medium</div>
                            <div class="item">High</div>
                            <div class="item">Very high</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-group">
            <h5 class="header">Display</h5>
            <div class="item">
                <div class="name">Show announcements about new releases</div>
                <div class="value">
                    <div class="ui toggle checkbox my-checkbox">
                        <input type="checkbox" name="public">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="name">Show what friends are playing</div>
                <div class="value">
                    <div class="ui toggle checkbox my-checkbox">
                        <input type="checkbox" name="public">
                        <label></label>
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-group">
            <h5 class="header">Social</h5>
            <div class="item">
                <div class="name">Connect with Facebook to see what friends are playing</div>
                <div class="value">
                    <div class="sphere">
                        <button class="ui circular icon button">
                          <i class="facebook icon"></i>
                        </button>
                      </div>
                </div>
            </div>
        </section>
    </div>
</div>