<div class="page-container">
    <div class="main-content">
        <h4>Settings</h4>
        <section class="settings-group">
            <h5 class="header">Language</h5>
            <div class="item">
                <div class="name">Select language</div>
                <div class="value">
                    <div class="ui floating fluid dropdown my-dropdown" appUIDropdown>
                        <div class="text">Engish</div>
                        <i class="chevron down icon"></i>
                        <div class="menu">
                            <div class="item">Engish</div>
                            <div class="item">Russian</div>
                            <div class="item">Ukranian</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="settings-group">
            <h5 class="header">Explicit content</h5>
            <div class="item">
                <div class="name">Show explicit content</div>
                <div class="value">
                    <div class="ui toggle checkbox my-checkbox">
                        <input type="checkbox" name="public">
                        <label></label>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>