$color-almost-white: #FAFBFF
$first-main-background: #21292D

#all-playlists
    padding: 0 0 0 247px
    background: $first-main-background

#row-1
    padding: 0
    margin: 38px 88px 0 50px
    height: 266px

#liked-songs
    display: flex
    padding: 0 0 0 30px
    width: 31.86%
    border-radius: 5px
    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
    font-family: Rubik
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 47px
    color: $color-almost-white
    flex-direction: column
    align-content: flex-start
    justify-content: center
    align-items: flex-start

#like-songs-count
    font-family: Rubik
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 21px
    color: $color-almost-white

#cards
    padding: 0
    width: 65%
    display: flex

#card
    width: 100%
    max-width: 214px
    height: 100%
    font-family: Rubik
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 19px
    text-align: center
    color: #FAFBFF
    margin-left: 40px
    margin-right: 21px

#songs
    font-family: Rubik
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 17px
    text-align: center
    color: $color-almost-white

#title-image
    position: relative
    margin: 0 auto

#image-card
    display: flex
    margin-bottom: 15px
    position: relative
    z-index: 0
    align-content: center
    justify-content: center
    align-items: center
    flex-wrap: wrap

#play
    position: absolute
    z-index: 2
    display: none
    width: 28px
    height: 28px

#image-card:hover #play
    display: flex

#image-card:hover > #title-image
    opacity: 0.5
    transition: 0.3s

#row-2
    height: 100%
    margin: 38px 8px 0 50px

#card-playlist
    width: 100%
    max-width: 228px
    height: 234px
    font-family: Rubik
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 19px
    color: #FAFBFF
    background: #282F37
    border-radius: 4px
    margin: 17px 35px 17px 0
    padding: 13px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

#songs-palylist
    font-family: Rubik
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 17px
    text-align: center
    color: $color-almost-white
