<div class="ui grid" id="all-playlists">
  <div class="row" id="row-1">
    <div class="ui button" id="liked-songs">
      <div>Liked songs</div>
      <div class="text" id="like-songs-count">{{ likedSongs }} songs</div>
    </div>
    <div class="column" id="cards">
      <div *ngFor="let album of albums">
        <div id="card">
          <div id="image-card">
            <img id="title-image" src="{{ album.titleImage }}" />
             <img id="play" src="./../../../../assets/button-icon-images/play-13x13.png">
          </div>
          <div>{{ album.nameAlbum }}</div>
          <span id="songs" *ngFor="let song of album.songs"> {{ song }}, </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row-2">
    <p>playlists</p>
  </div>
</div>
