@import "../../../../styles.sass"

#all-playlists
    padding: 0 0 0 247px
    height: auto
    min-height: 100vh
    background: $dark-gray

#row-1
    margin-top: 50px
    padding: 0 50px
    display: flex
    flex-wrap: nowrap
    justify-content: space-between

#liked-songs
    padding: 0 30px
    display: flex
    width: 34%
    min-width: 20%
    height: 100%
    max-height: 265px
    border-radius: 5px
    line-height: 47px
    flex-direction: column
    justify-content: center
    align-items: flex-start
    background: $fire-orange
    color: $text

#like-count
    font-weight: normal
    font-size: 18px
    line-height: 21px
    color: $text

#cards
    width: auto
    display: flex

#row-2
    height: 100%
    margin: 38px 8px 0 50px
    overflow: hidden
