@import "src/styles.sass"

.ps-card
    padding: 16px
    height: 228px
    width: 234px
    border-radius: 4px
    background: $light-gray
    color: $text
    box-shadow: none
    .image
        border-radius: 3px !important
        .play-icon
            background: $bg-gradient
            opacity: 0
            transition: opacity 0.4s ease
            position: absolute
            top: 12px
            right: 12px
            height: 28px
            width: 28px
            border: none
            border-radius: 2px
            padding: 5px
            color: $text
            display: flex
            align-items: center
            &:hover
                cursor: pointer
            i
                margin: 0
                height: auto
                font-size: 15px
        img
            height: 122px
            object-fit: cover
        &:hover
            .play-icon
                 opacity: 0.95
    .content
        padding-left: 0
        padding-right: 0
        .card-name  
            font-weight: $medium-weight
            text-overflow: ellipsis
        .card-desc
            font-weight: $light-weight
            text-align: left
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 2 
            -webkit-box-orient: vertical