<div class="card" (click)="handleClick()" [ngClass]="{checked:isChecked}">
  <div class="image">
    <div class="section-delete" (click)="onDeleteFromSectionClick(playlist)" appClickStopPropagation *ngIf="!isCheckBox && isDeletable">
        <i class="trash alternate outline icon"></i>
    </div>
      <img [src]="playlist.iconURL" *ngIf="playlist.iconURL">
      <div class="icon-background" *ngIf="!playlist.iconURL">
        <img class="icon" src="/assets/images/playlist.svg" />
      </div>  
      <button *ngIf="!isCheckBox" class="play-icon" appClickStopPropagation (click)="play(playlist.id)">
          <i class="play icon"></i>
      </button>  
  </div>
  <div class="content">
      <div class="card-name"> {{playlist.name}} </div>
      <div *ngIf="playlist.description!=='null'" class="card-desc"> {{playlist.description}} </div>
  </div>
</div>