<div class="list-header">
  <div><span id="index-header">#</span></div>
  <div></div>
  <div>
    <span (click)="updateSortType(sortProperties.Name)">Name</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.Name)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.Artist)">Artist</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.Artist)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.Album)">Album</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.Album)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.Added)">Added</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.Added)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div>
    <span (click)="updateSortType(sortProperties.Time)">Time</span>
    <app-sort-order-icon *ngIf="showSortIcon(sortProperties.Time)" [order]="sortType!.order"></app-sort-order-icon>
  </div>
  <div></div>
</div>
