<div class="ui visible menu">
  <div class="logo">
    <a class="ui logo icon image" routerLink="/home">
      <img src="/assets/Logo.png"/>
    </a>
  </div>
</div>

<main class="main-content">
  <h1>Get access to Perflow Studio</h1>
  <h5>First, tell us who you are.</h5>
  <div class="cards">
    <div class="option-card" routerLink="./artistApplicant">
      <img src="/assets/images/artist.jpg"/>
      <span>Artist</span>
    </div>
    <div class="option-card" routerLink="/" (click)="createUserApplicant(2)">
      <img src="/assets/images/Moderator.jpg"/>
      <span>Moderator</span>
    </div>
  </div>
</main>