@import "../../../../styles.sass"
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

#hat-playlists
    padding: 0 0 0 247px

#row-1
    padding: 35px 0 0 38px
    display: flex
    align-items: center
    justify-content: space-between

#nav-link
    margin-left: 30px
    display: flex

#link
    margin: 0 20px
    font-weight: $medium-weight
    color: $default-white
    
#link:hover
    color: $medium-orange

#profile
    padding-right: 55px
    display: flex
    align-items: center
    justify-content: flex-end
    color: $text

.ui.dropdown.item
    padding: 20px 0 20px 0

#profile-menu
    top: 20px
    right: 20px
    left: auto
    background: $dark-gray
    border: 0.5px solid #373C43
    border-radius: 2px

#profile-user-name
    margin-left: 15px

#profile-menu > .item > a
    font-family: "Montserrat", sans-serif
    font-size: 18px
    margin: 0 15px
    display: flex
    align-items: center
    color: $text

#profile-menu > .item > a > img
    margin: 8px 0 8px 0
    padding: 0 16px 0 0

#profile-menu > #log-out > a
    color: $light-orange

#profile-menu > .item:hover
    background: $light-gray


