<main>
  <div>
    <div id="hat-playlists" >
      <div id="nav-link">
        <a routerLink="./../playlists/all" id="link" routerLinkActive="active-link">
          <h5>All</h5>
        </a>
        <a routerLink="./../playlists/artists" id="link" routerLinkActive="active-link" >
          <h5>Artists</h5>
        </a>
        <a routerLink="./../playlists/albums" id="link" routerLinkActive="active-link">
          <h5>Albums</h5>
        </a>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
