@import "../../../../styles.sass"

#hat-playlists
    padding: 0 0 0 247px

#row-1
    padding: 35px 0 0 38px
    display: flex
    align-items: center
    justify-content: space-between

#nav-link
    display: flex

#link
    margin: 0 20px 0 20px
    font-weight: $medium-weight
    color: $default-white

#profile
    padding-right: 55px
    display: flex
    align-items: center
    justify-content: flex-end
    color: $text

.ui.dropdown.item
    padding: 20px 0 20px 0

#profile-menu
    top: 20px
    right: 20px
    left: auto
    background: $dark-gray
    border: 0.5px solid #373C43
    border-radius: 2px

#profile-user-name
    margin-left: 15px

#profile-menu > .item > a
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 19px
    line-height: 135%
    margin: 2px 10px 2px 10px
    display: flex
    align-items: center
    color: $text

#profile-menu > .item > a > img
    margin: 8px 0 8px 0
    padding: 0 16px 0 0

#profile-menu > #log-out > a
    color: $light-orange

#profile-menu > .item:hover
    background: $light-gray

#link:hover
    color: $medium-orange
