<div class="infolist">
    <div class="albumlist">
        <div class="albumslabel">
            <h4>Albums</h4>
        </div>
        <ng-container *ngIf="albums?.length">
            <div *ngFor="let album of albums" class="album-card">
                <app-album-card [album]="album" (delete)="deleteAlbum($event)"></app-album-card>
            </div>
        </ng-container>
        <ng-container *ngIf="!albums?.length">
            <div class="albumslabel">
                <h5>There are no available albums now</h5>
            </div>
        </ng-container>
    </div>
</div>