<div class="ts-card">
    <div class="fader">
        <button class="play-icon"><i class="caret right icon"></i></button>
        <img src="https://s3-alpha-sig.figma.com/img/b423/72a6/37b9f488cf27df18da3f508375672140?Expires=1628467200&Signature=DfuRQG2OmDjQEQieosMYH1StUO4CmyaLol5cMaZwhWt4Bif8PvfC9CB7iwFI0cPK02vNJJxgr-TroyCD17wAKpP3H316QVQDGaXCFGfcx2z3K1P-MWoeD~n3h4l6b0HX453dxFvXwGfwiSd6Xlnc~PSbuU8nha401GIrxpRwyIoZDdTb1Kg6Bw1nd5scWggchJU-~KqnQUdl78KdjYmaNjqkjCYWO8R1OMedXS3gjz4q1-Xb~OZRgUbBneMEzqQn4-ct6281h7RyJuEVLZSyWI9FwteNGwrqatI0h4liiEA-GtnEs4ZGV90wiiXpTSS0ALad7gxW2WIe8VLzQFBoJA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Icon">    
    </div>
    <div class="card-name">Fresh & Chill</div>
    <div class="card-desc">
        Ed Sheeran, Paloma Mami Maroon 5, SigalaPink, Oximer...
    </div>
</div>

