@import ../playlist-card-styles
    
.card
    .section-delete
        visibility: hidden
        position: absolute
        text-align: center
        top: 1px
        right: 1px
        color: $medium-orange
        &:hover
            color: red
    .image
        border-radius: 50%
        box-shadow: 0 0 20px black
        img
            border-radius: 50%
    .remove
        bottom: 15px
        right: 20px
    .info-block
        > span
            font-size: 15px
            font-weight: $light-weight
            color: lighten($gray, 15%)
        > span.checked
            color: white
            background: transparent
    .play-icon
        top: 28px
        right: 28px
    &:hover
        .section-delete
            visibility: visible
        .play-icon
            opacity: 1

.checked
    background: $orange-gradient