<div class="card" (click)="handleClick()" [ngClass]="{checkedConstructor:isCheckedConstructor}">
    <div class="image-block">
        <div class="section-delete" (click)="onDeleteFromSectionClick(artist)" appClickStopPropagation *ngIf="!isCheckBox && isDeletable">
            <i class="trash alternate outline icon"></i>
        </div>
        <div class="image">
            <img [attr.src]="artist.iconURL" alt="Artist" *ngIf="artist.iconURL">
            <div class="icon-background" *ngIf="!artist.iconURL">
                <i class="user icon"></i>
            </div>
        </div>
        <div class="remove" *ngIf="isLiked && !isCheckBox" (click)="onDeleteClick(artist)" appClickStopPropagation>
            <i class="like icon ui"></i>
        </div>
        <button *ngIf="!isCheckBox && !isChecked" class="play-icon" appClickStopPropagation>
          <i class="play icon"></i>
        </button> 
    </div>
    <div class="info-block">
        <div class="artist-name tub">
            <h5>{{artist.userName}}</h5>
        </div>
        <span *ngIf="artist.isArtist" [ngClass]="{checkedConstructor:isCheckedConstructor}">Artist</span>
        <span *ngIf="!artist.isArtist" [ngClass]="{checkedConstructor:isCheckedConstructor}">Group</span>
        <button class="ui btn-full button apply-btn" *ngIf="isChecked && !isCheckBox" (click)="onApplyClick(artist)"
            appClickStopPropagation>
            Apply
        </button>
    </div>
</div>