@import "src/styles.sass"
    
$minimumColumnWidth: 180px   

.playlist
    background: $drk-gray
    display: grid
    gap: 35px 25px
    grid-template-columns: repeat(auto-fill, minmax($minimumColumnWidth, 1fr))

@media (max-width:770px)
    .playlist 
        grid-template-columns: repeat(2, minmax(230px, 1fr))
  
