@import "src/styles.sass"
    
.playlist
    background: $drk-gray
    display: grid
    gap: 25px 35px
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))

@media (max-width:770px)
    .playlist 
        grid-template-columns: repeat(2, minmax(230px, 1fr))
  
