<main>
  <div class="accordion">
    <!-- Accordion Information -->
    <div class="accordion-information">
      <img class="user-avatar" alt="Avatar" [src]="user.iconURL" *ngIf="user.iconURL">
      <div class="icon-background" *ngIf="!user.iconURL">
        <i class="user icon"></i>
      </div>
        
      <div class="user-info">
        <div class="user-profile">Profile</div>
        <div class="ui floating dropdown" appSmDropdown>
          <i class="ellipsis vertical icon"></i>
          <div class="right menu">
            <div class="item first share">
              <i class="share alternate icon"></i>Share<i class="dropdown icon"></i>
              <div class="right menu">
                <div class="item first last" (click)="copyLink()">
                  Copy link
                </div>
              </div>
            </div>
            <div class="item last" routerLink="/profile/edit">
              <i class="edit icon"></i>Edit Profile
            </div>
          </div>
        </div>
        <p class="user-name">{{user.userName}}</p>
      </div>
    </div>
  </div>

  <div class="main-content-container">
    <div class="items-scroll-box top-artists" *ngIf="myPlaylists.length > 0">
      <h4 class="header">My Playlists</h4>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollGridLeft('playlists', '.items')">
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="playlists" class="items" appHideScrollButtons>
          <app-playlist-card class="card" *ngFor="let pl of myPlaylists" [playlist]="pl">
          </app-playlist-card>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollGridRight('playlists', '.items')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>

    <div class="items-scroll-box top-artists">
      <h4 class="header">Top artists this month</h4>
      <div class="list-of-items">
        <div class="ui icon button scroll-button" (click)="scrollGridLeft('artists', '.items')"> 
          <i class="large inverted angle left icon"></i>
        </div>
        <div id="artists" class="items" appHideScrollButtons>
            <app-artist-card *ngFor="let artist of topArtists" [artist]="artist">
            </app-artist-card>
        </div>
        <div class="ui icon button scroll-button" (click)="scrollGridRight('artists', '.items')">
          <i class="large inverted angle right icon"></i>
        </div>
      </div>
    </div>
  
    <div class="top-songs">
      <h4 class="header">Top songs this month</h4>
      <app-songs-list [songs]="topSongs"></app-songs-list>
    </div>
    
    <div [ngClass]="['ui', 'success', 'message', 'copied']" *ngIf="isSuccess">
      <div class="header">
        Link copied to clipboard!
      </div>
    </div>
  </div>
</main>