<div class="playlist-container">
    <div class="hat">
      <img class="bg-hat-image" src="{{playlist.iconURL}}">
      <!-- Paylist info -->
      <div class="playlist-information">
        <div class="fader" (click)="showEditPlaylistModal()">
          <i class="image outline icon placeholder-icon"></i>
          <div class="hover-content">
            <i class="edit outline icon"></i>
            <span class="mute">Load image</span>
          </div>
          <img class="ui medium circular image album-icon" alt="Album" src="{{playlist.iconURL}}" *ngIf="playlist.iconURL">
        </div>
        <div class="playlist-info">
          <p class="type">Playlist</p>
          <p class="playlist-title">{{playlist.name}}</p>
          <div class="playlist-description">
            <span class="author">You</span> | 
            <span class="amount">{{ playlistSongs.length }} songs </span>
            <span class="duration">{{ playlistSongs | songDuration }}</span>
          </div>
          <div class="buttons">
            <button class="button-play btn-full">Play</button>
            <div class="ui floating dropdown icon" appSmDropdown>
              <i class="ellipsis vertical icon"></i>
              <div class="right menu">
                  <div class="item first" 
                  (click)="initConfirmDeletePlaylist()"
                  *ngIf="isAuthor">
                      <i class="trash icon"></i>
                      Remove playlist
                  </div>
                  <div class="item last share">
                      <i class="share alternate icon"></i>Share<i class="dropdown icon"></i>
                      <div class="right menu">
                        <div class="item first last" (click)="copyLink()">
                            Copy link
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Added Songs -->
    <div class="song-container">
      <div class="search-result">
        <app-songs-list *ngIf="playlistSongs.length"
          [songs]="playlistSongs"
          [playlist]="playlist"
          (clickMenuItem)="clickMenuHandler($event)">
        </app-songs-list>
      </div>
    </div>
    <!-- Search Songs -->
    <div class="ui search">
      <h5 class="search-header">Find something new for your playlist</h5>
      <div class="ui icon input">
        <i class="search icon"></i>
        <input #searchBox name="search" [(ngModel)]="searchValue" (input)="findSongsByName()" class="prompt" 
          type="text" autocomplete="sss"  aria-autocomplete="none" placeholder="Search for songs..." (keyup)="clearSearch($event)">
      </div>
      <div class="search-result" *ngIf="foundSongs.length" >
        <app-search-song-row *ngFor="let song of foundSongs"  (clickButton)="addSongToPlaylist($event)"  [song]="song"></app-search-song-row>
      </div>
    </div>

    <!-- Modal window -->
    <app-edit-playlist-modal 
    [editedPlaylist]="previousPlaylistData" 
    [isAuthor]="isAuthor"
    *ngIf="isModalShown" 
    (editPlaylist)="onSubmitModal($event)" 
    [(collaborators)]="collaborators"
    (isClosed)="closeModal()"></app-edit-playlist-modal>
    <div [ngClass]="['ui', 'success', 'message', 'copied']" *ngIf="isSuccess">
      <div class="header">
        Link copied to clipboard!
      </div>
    </div>
  </div>
