// /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap')

$hairline-weight: 100
$thin-weight:     200
$light-weight:    300
$normal-weight:   400
$medium-weight:   500
$semibold-weight: 600
$bold-weight:     700
$xbold-weight:    800
$black-weight:    900

$dark-gray:#21292D
$light-gray:#282F37
$gray: #777   
$text:#FAFBFF
$default-white: #FFFFFF 
$light-orange:#FD9122
$medium-orange:#FD5D34
    
$button-ghost-border:1px solid #FF792A

$orange-gradient: linear-gradient(90deg, $light-orange 0%, $medium-orange 100%)
$reversed-orange-gradient: linear-gradient(90deg, $medium-orange 0%, $light-orange 100%)
$bg-gradient: linear-gradient(180deg, #FD8427 0%, #FD6831 100%)
$fire-orange: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)

*
    margin: 0
    padding: 0
    font-family:'Rubik','sans-serif'   


body
    font-size: 14px

.body-light
    font-weight:$light-weight
    
.body-regular
    font-weight:$normal-weight
        

h3,h4,h5,h6   
    font-weight:$bold-weight

h3
    font-size:40px
   
h4
    font-size:24px

h5
    font-size:18px
    font-weight:$medium-weight

h6
    font-size:16px
    font-weight:$medium-weight


.menu
    font-size:14px
    font-weight:$medium-weight


.tub
    font-size:16px
    font-family:$semibold-weight


.btn-full
    background: linear-gradient(90deg, $light-orange 0%, $medium-orange 100%)
    border-radius: 50px

.btn-full:hover
    background: linear-gradient(90deg, darken($light-orange, 5%) 0%, darken($medium-orange, 5%) 100%)

.btn-full:active
    background: linear-gradient(90deg, darken($light-orange, 8%) 0%, darken($medium-orange, 8%) 100%)
    

.btn-ghost
    
    border: $button-ghost-border
    box-sizing: border-box
    border-radius: 50px


.input-dark
    background: $light-gray
    border-radius: 50px
    

card
    background-color: $dark-gray
    border-radius: 4px
