// /* You can add global styles to this file, and also import other style files */


$hairline-weight: 100
$thin-weight:     200
$light-weight:    300
$normal-weight:   400
$medium-weight:   500
$semibold-weight: 600
$bold-weight:     700
$xbold-weight:    800
$black-weight:    900

$bg-gradient: linear-gradient(180deg, #FD8427 0%, #FD6831 100%)
$drk-gray: #21292D
$light-gray: #282F37
$gray: #777
$light-orange: #FD9122
$medium-orange: #FD5D34
$button-ghost-border: 1px solid #FF792A
$login-text-color: #FF792A
$text-color-gray: #717477
$input-background-color: #282F37
$drk-rain: #282F37
$orange-gradient: linear-gradient(90deg, $light-orange 0%, $medium-orange 100%)
$reversed-orange-gradient: linear-gradient(90deg, $medium-orange 0%, $light-orange 100%)
$text: #FAFBFF

$song-row-areas: "song-number like song-name artist-name album-name added duration settings"
$song-row-columns: 32px 32px 6fr 4fr 4fr 3fr 2fr 32px

*
  margin: 0
  padding: 0
  font-family: 'Rubik','sans-serif'

  &::-webkit-scrollbar
    width: 5px
    opacity: 0.7
    border-radius: 5px

  &::-webkit-scrollbar-track
    background-color: transparent

  &::-webkit-scrollbar-thumb
    background-color: #FD6333 !important


body
  font-size: 14px

.body-light
  font-weight: $light-weight

.body-regular
  font-weight: $normal-weight


h3, h4, h5, h6
  font-weight: $bold-weight

h3
  font-size: 40px

h4
  font-size: 24px

h5
  font-size: 18px
  font-weight: $medium-weight

h6
  font-size: 16px
  font-weight: $medium-weight


.menu
  font-size: 14px
  font-weight: $medium-weight


.tub
  font-size: 16px
  font-family: $semibold-weight


.btn-full
  background: linear-gradient(90deg, $light-orange 0%, $medium-orange 100%)
  border-radius: 50px
  color: #fff

.btn-full:hover
  background: linear-gradient(90deg, darken($light-orange, 5%) 0%, darken($medium-orange, 5%) 100%)

.btn-full:active
  background: linear-gradient(90deg, darken($light-orange, 15%) 0%, darken($medium-orange, 15%) 100%)


.btn-ghost
  border: $button-ghost-border
  box-sizing: border-box
  border-radius: 50px


.input-dark
  background: $drk-rain
  border-radius: 50px


card
  background-color: $drk-rain
  border-radius: 4px
