<h4 class="sub-header">Change password</h4>

<form [formGroup]="form" #formDir="ngForm" class="ui form error">
    <div class="cross-validation"
        [class.cross-validation-error]=" form.errors?.identityRevealed && ( form.touched ||  form.dirty)">

        <div class="form-group">
            <div class="field">
                <input type="password" placeholder="Current Password" id="currentPassword"
                    class=" form-control input-dark" formControlName="currentPassword" required>
                <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)"
                    class="ui error message">
                    <div *ngIf="currentPassword.invalid">
                        Current password required!
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="field">
                <input type="password" placeholder="New Password" id="newPassword" class=" form-control input-dark"
                    formControlName="newPassword" required>
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="ui error message">
                    <div *ngIf="newPassword.invalid">
                        Password should consist of min 6 characters. There is must include at least one number or
                        special character and one letter. Is case-sensitive.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="field">
                <input type="password" placeholder="Confirm new Password" id="newPasswordConfirmation"
                    class=" form-control input-dark" formControlName="newPasswordConfirmation" required>
                <div *ngIf="newPasswordConfirmation.invalid && (newPasswordConfirmation.dirty || newPasswordConfirmation.touched) ||  form.hasError('notSame')"
                    class="ui error message">
                    <div *ngIf="newPasswordConfirmation.errors?.required">
                        Password Confirmation is required!
                    </div>
                    <div *ngIf=" form.hasError('notSame')">
                        Password mismatch!
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn-full" [disabled]="form.invalid" (click)="onSubmit()">Save</button>
            <button class="button-cancel" (click)="redirect('/main')">Cancel</button>
        </div>
    </div>
</form>