<h4 class="sub-header">Change password</h4>

<form name="form" #form="ngForm" class="ui form error">
    <div class="cross-validation"
        [class.cross-validation-error]=" form.errors?.identityRevealed && ( form.touched ||  form.dirty)">

        <div class="form-group">
            <div class="field">
                <input type="password" placeholder="Current Password" class="form-control input-dark"
                    name="currentPassword" [(ngModel)]="userChangePassword.currentPassword" #currentPassword="ngModel"
                    required>
                <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)"
                    class="ui error message">
                    <div *ngIf="currentPassword.invalid">
                        Current password required!
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="field">
                <input type="password" placeholder="New Password" name="newPassword" class=" form-control input-dark"
                    [(ngModel)]="userChangePassword.newPassword" #newPassword="ngModel" required
                    pattern='^(?=.*[A-Za-z])(?=.*[0-9@$!%*#?&-_])[A-Za-z0-9@$!%*#?&-_]{6,20}$'>
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="ui error message">
                    <div *ngIf="newPassword.invalid">
                        Password should consist of min 6 characters. There is must include at least one number or
                        special character and one letter. Is case-sensitive.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="field">
                <input type="password" placeholder="Confirm New Password" name="passwordConfirmation"
                    class=" form-control input-dark" [(ngModel)]="newPasswordConfirmation"
                    #passwordConfirmation="ngModel" required ngValidateEqual="newPassword">
                <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
                    class="ui error message">
                    <div *ngIf="passwordConfirmation.errors?.required">
                        Password Confirmation is required!
                    </div>
                    <div *ngIf="passwordConfirmation.hasError('notEqual') && newPassword.valid">
                        Password mismatch!
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn-full" [disabled]="form.invalid" (click)="onSubmit(form)">Save</button>
            <button class="button-cancel" routerLink="/profile">Cancel</button>
        </div>
    </div>
</form>