.ym-card
    height: 94px
    width: 400px
    margin-bottom: 25px
    border-radius: 4px
    display: grid
    grid-template-columns: 147px auto
    grid-template-rows: 100%
    gap: 0px
    background: #282F37
    @media ( max-width: 400px )
        width: 300px
        grid-template-columns: 117px auto
    .fader
        grid-column: 1
        grid-row: 1
        margin: 0px
        position: relative
        height: fit-content
        width: fit-content
        img
            height: 94px
            width: 147px
            object-fit: cover
            background: linear-gradient(0deg, rgba(55, 71, 79, 0.16), rgba(55, 71, 79, 0.16))
            border-radius: 3px
            @media ( max-width: 400px )
                width: 117px
                grid-template-columns: 117px auto
        &:hover
            .play-icon
                opacity: 1
        .play-icon
            position: absolute
            top: 9px
            right: 28px
            height: 28px
            width: 28px
            border: none
            border-radius: 2px
            background: linear-gradient(180deg, #FD8427 0%, #FD6831 100%)
            opacity: 0
            cursor: pointer
            transition: opacity 0.4s ease
            i
                position: relative
                font-size: 28px
                top: -1px
                left: -1px
                color: #DADDDE
    .card-name
        grid-column: 2
        grid-row: 1
        align-self: center
        margin-left: 21px 
        width: fit-content
        font-family: Rubik
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 19px
        text-overflow: ellipsis
        color: #FAFBFF 
        cursor: pointer
