<main>
    <div>
        <div>
            <app-profile-edit-form *ngIf="user" [user]=user (updatedUser)="onSubmitUser($event)"></app-profile-edit-form>
        </div>
        <div class="container">
            <div class="form">
                <app-update-password-form *ngIf="user" [user]=user (updatedUserPassword)="onSubmitPassword($event)"></app-update-password-form>
            </div>
        </div>
    </div>
</main>

<div class="ui success message" *ngIf="isSuccess">
    <i class="close icon" appSmMessage></i>
    <div class="header">
        Changed successfully!
    </div>
</div>

<div class="ui warning message" *ngIf="isError">
    <i class="close icon" appSmMessage></i>
    <div class="header">
        Error occured!
    </div>
</div>