@import "../../../../styles.sass"

// Profile icon in top right corner
.profile
    padding-right: 20px
    display: flex
    align-items: center
    justify-content: space-between
    color: $text

.ui.dropdown.item
    margin-left: 15px
    display: flex
    align-items: center
    padding: 20px 0 20px 0

#profile-menu-user
    top: 20px
    right: 20px
    left: auto
    background: $dark-gray
    border: 0.5px solid #373C43
    border-radius: 2px

.profile-user-name
    width: 160px
    display: flex
    margin-left: 15px
    justify-content: space-between

.profile > img
    width: 40px
    height: 40px
    margin: 0 auto
    overflow: hidden
    border-radius: 100%

.menu > .item > a
    font-family: "Montserrat", sans-serif
    font-size: 18px
    margin: 0 15px
    display: flex
    align-items: center
    color: $text

.menu > .item > a > img
    margin: 8px 0 8px 0
    padding: 0 16px 0 0

.item > a > .log-out 
    color: $light-orange

.menu > .item:hover
    background: $light-gray
