<!-- Profile icon in top right corner -->
<h4 class="ui header profile" (click)="showProfileMenu()" (clickOutside)="onClickOutsideProfileMenu($event)">
  <!-- TODO:  Here, insert links to your account profile pages, etc. -->
  <div id="profile">
    <img src="../../../../assets/images/ProfileImage.jpg" />
    <div>
      <div class="text" id="profile-user-name">
        <span>{{ userName }}</span>
        <i class="caret down icon"></i>
      </div>
      <div class="menu" id="profile-menu" [ngClass]="isProfileMenuShown ? 'active' : ''">
        <div class="item" routerLink="/profile">
          <span>
            <i class="user icon"></i>
            View account
          </span>
        </div>
        <div class="item" routerLink="/settings">
          <span>
            <i class="setting icon"></i>
            Account Settings
          </span>
        </div>
        <div class="item" routerLink="/" *ngIf="isRightRole">
          <span>
            <i class="external alternate icon"></i>
            Studio
          </span>
        </div>
        <div class="item" id="log-out" routerLink="/" (click)="logout()">
          <span>
            <i class="sign-out icon"></i>
            Log out
          </span>
        </div>
      </div>
    </div>
  </div>
</h4>
