*
    padding: 0
    margin: 0
    text-decoration: none

main
    background: #21292D
    width: 100%
    height: 100vh
    overflow-y: scroll 
    &::-webkit-scrollbar 
        width: 0px
        height: 0px
.accordion
    position: relative
    width: 100%
    height: 401px
    border-radius: 5px
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 66px auto
    background: linear-gradient(90deg, #864099 0%, rgba(70, 65, 146, 0.95) 100%)    
    
    // Navigation arrows
    .arrows
        grid-column: 1
        grid-row: 1
        position: relative
        height: 30px
        min-height: 30px
        width: 73px
        min-width: 73px
        max-width: 73px
        position: relative
        top: 38px
        left: 37px
        .arrow-left
            background: #A859C0
            border-radius: 2px
            width: 28px
            height: 28px
            border: 0px solid
            color: #FAFBFF
            cursor: pointer   
            &:hover
                background: #A859C0aa
            &:active
                border: 2px solid #A859C0
        .arrow-right
            background: #A859C0
            border-radius: 2px
            width: 28px
            height: 28px
            border: 0px solid
            color: #FAFBFF
            margin-left: 15px 
            cursor: pointer
            &:hover
                background: #A859C0aa
            &:active
                border: 2px solid #A859C0
    
    // Profile icon in top right corner
    .profile
        grid-column: 1
        grid-row: 1
        position: absolute
        right: 42px
        top: 45px
        width: fit-content
        height: 35px
        padding: 0px 7px 
        background: none
        font-family: Rubik
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 21px
        color: #FAFBFF
        border: none
        cursor: pointer
        img
            width: 35px
            height: 35px
            border-radius: 50% 
            object-fit: cover  
        .dropdown-content
            display: block
            top: 35px
            width: 209px
            padding: 9px 0px
            background: #282F37
            border: 0.5px solid #373C43
            border-radius: 2px
            transition: all 1s ease-out
            z-index: 99
            .item
                font-family: Rubik
                font-style: normal
                font-weight: 300
                font-size: 14px !important
                line-height: 135%
                color: #FAFBFF
                padding: 9px 19px
                &:hover
                    background: #373C43
                &:last-child
                    color: #FD9122
                    i
                        color: #FD9122

    // Accordion Information
    .accordion-information
        grid-column: 1
        grid-row: 2
        position: relative
        left: 160px
        top: 38px
        width: 70%    
        height: 245px
        overflow: hidden 
        display: grid
        grid-template-columns: 245px auto
        grid-template-row: 100%
        gap: 0px 0px
        @media (max-width: 1300px)
            left: 150px
        @media (max-width: 1200px)
            width: 750px
        @media (max-width: 1050px)
            transform: scale(0.9)
            left: 100px
        @media (max-width: 1000px)
            left: 80px
        @media (max-width: 900px)
            left: 50px   
        @media (max-width: 800px)
            grid-template-columns: 100% 
            width: 600px
        @media (max-width: 600px)
            left: 30px 
            width: 500px  
        @media (max-width: 500px)
            left: 0px 
            width: 400px     
        @media (max-width: 500px)
            transform: scale(0.9)  
        @media (max-width: 400px)
            transform: scale(0.8)  
        .album-icon
            grid-column: 1
            grid-row: 1
            width: 245px
            height: 245px
            border-radius: 50%
            object-fit: cover
            background: #C4C4C4
            box-shadow: 0px 27px 36px 3px rgba(33, 41, 45, 0.25)
            @media (max-width: 800px)
                display: none     
        .album-info
            grid-column: 2
            grid-row: 1
            margin-left: 35px
            height: 245px
            @media (max-width: 800px)
                grid-column: 1
            @media (max-width: 500px)
                margin-left: 0px
            .type
                margin-top: 20px
                font-family: Rubik
                font-style: normal
                font-weight: 300
                font-size: 18px
                line-height: 21px
                color: #FAFBFF
                height: fit-content
            .album-title
                margin-top: 10px
                font-family: Rubik
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 47px
                color: #FAFBFF
                height: fit-content
                text-overflow: ellipsis
            .album-description
                margin-top: 22px
                font-family: Rubik
                font-style: normal
                font-weight: 300
                font-size: 18px
                line-height: 21px
                color: #FAFBFF                    
                width: 100%
                max-height: 42px
                overflow: hidden
                text-overflow: ellipsis
            .buttons
                margin-top: 20px
                width: 180px
                min-width: 180px 
                .button-play
                    display: inline-block
                    padding: 12px 22px
                    width: 79px
                    height: 43px
                    max-height: 43px
                    background: linear-gradient(90deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
                    border: none
                    border-radius: 50px             
                    color: #FAFBFF
                    font-family: Rubik
                    font-style: normal
                    font-weight: 700
                    font-size: 16px
                    line-height: 19px
                    &:hover
                        cursor: pointer
                        background: linear-gradient(180deg, #FD8D24 0%, #FF782B 50.12%, #FD6333 100%)
                        color: #000000 
                    &:active
                        border: 3px solid #FD5D34 
                        padding: 9px 19px
                .button-save
                    display: inline-block
                    margin-left: 20px 
                    padding: 11px 21px
                    width: 79px
                    height: 43px
                    background: none
                    color: #FAFBFF
                    font-family: Rubik
                    font-style: normal
                    font-weight: 700
                    font-size: 16px
                    line-height: 19px   
                    border: 1px solid #FAFBFF
                    border-radius: 50px
                    &:hover
                        cursor: pointer
                        background: #864099d0
                        color: #000000
                    &:active
                        border: 3px solid #FAFBFF
                        padding: 9px 19px

// Recently played
.recently-played
    height: 199px
    margin: 53px 38px  
    @media (max-width: 800px)
        margin-bottom: 10px !important
        height: 220px
    .recently-played-cont
        overflow: hidden
        max-height: 155px
        align-content: stretch
        margin-top: 30px
        justify-content: start
        @media (max-width: 800px)
            justify-content: center
        &::-webkit-scrollbar 
            width: 0px
            height: 0px


// New Releases
.new-releases
    position: relative
    height: 328px
    margin: 0 38px 53px 38px  
    overflow: hidden
    @media (max-width: 800px)
        margin-bottom: 10px !important
        height: 350px
    .new-releases-cont
        position: relative
        display: flex
        width: 100%
        height: 270px
        min-height: 270px
        overflow-y: scroll
        margin-top: 30px
        @media (max-width: 800px)
            justify-content: center
        &::-webkit-scrollbar 
            width: 0px
            height: 0px
    .scroll-box
        bottom: 38px


// Calm rhythms & Top 100 songs
.calm-rhythms
    height: 286px
    width: 100%
    margin: 0 38px 53px 38px 
    overflow: hidden
    @media (max-width: 800px)
        margin-bottom: 20px !important
        height: 306px
    .calm-rhythms-cont
        position: relative
        display: flex
        width: 100%
        height: fit-content
        min-height: 228px
        overflow-y: scroll
        margin-top: 30px
        @media (max-width: 800px)
            justify-content: center
        &::-webkit-scrollbar 
            width: 0px
            height: 0px       

// Your mix
.your-mix
    height: 271px
    width: 100%
    margin: 0 38px 53px 38px   
    @media (max-width: 800px)
        margin-bottom: 20px !important
        height: 291px
    .your-mix-cont 
        overflow: hidden
        height: 220px
        width: 100%
        margin-top: 30px
        align-content: stretch
        justify-content: start
        @media (max-width: 800px)
            justify-content: center
        &::-webkit-scrollbar 
            width: 0px
            height: 0px


// This is for profile menu
.show
    display: block !important    


// Styles for horizontal scrolling           
.scroll-box
    width: 44px
    height: calc(100% - 53px)
    position: absolute
    right: 0px
    bottom: 0px
    display: flex
    align-items: center
    justify-content: center
    background: #21292D
    .scroll-button
        width: 33px
        height: 33px
        font-size: 1.2rem
        color: #FAFBFF
        border: none
        border-radius: 3px
        background: #282F37
        cursor: pointer
        &:hover
            background: #373C43

.header
    width: 100%
    height: fit-content
    margin-top: -15px 
    font-family: Rubik
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 28px
    color: #FAFBFF
    @media (max-width: 800px)
        margin-top: -15px 
