<main>
  <div class="accordion">
    <!-- Navigation arrows -->
    <div id="hat-main-home">
      <div class="arrows">
        <button (click)="nextSlide()" class="arrow-left">
          <i class="chevron left icon"></i>
        </button>
        <button (click)="previousSlide()" class="arrow-right">
          <i class="chevron right icon"></i>
        </button>
      </div>

      <!-- Profile icon in top right corner -->
      <app-profile-menu class="profile-menu"></app-profile-menu>
    </div>

    <!-- Accordion Information -->
    <div class="accordion-information">
      <img class="album-icon" alt="Album"
        src="https://s3-alpha-sig.figma.com/img/d75c/1009/f21231d6f5d9480e4025fca6081aa434?Expires=1628467200&Signature=OTjTRmC-15s41yTDgmE8aKF5q6CnBmJAo55dQRIG7K0XOj8A9L3ENDn6dN4EmFOukNiA7DkyXDUXbf3bAjngVFLV7yUgxTssDto6jzNDJGShiDViBnpZAvV6BSpHRuQYIkGj4vTtKJZLeNtDQXQgnMrNLLz8LA1m1XHxLhvug7dLrmXAO2hxHhJk4PUqXplBNEnxyPSZjs-sY44I--97FKwspfh1eyjIlEIdj9eowU4WNh52N-mrnShdCdKJpbaIzE5-mJkpug91XKth-IWB5iHnotKb88bARs1rCFiMaZlp5-Xxi6jpJdOeYIriyilk9~obp6ItPZK-3t2OxS7tag__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
      <div class="album-info">
        <p class="type">Album</p>
        <p class="album-title">Perfect Morning</p>
        <p class="album-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores facilis deleniti
          quidem atque obcaecati eaque quod tenetur odit laborum ex explicabo iste placeat, repellendus aliquid alias
          voluptatibus, quos incidunt? Quos.</p>
        <div class="buttons">
          <button class="button-play">Play</button>
          <button class="button-save">Save</button>
        </div>
      </div>
    </div>
  </div>


  <div class="ui grid">
    <!-- Recently played -->
    <div class="ui sixteen column row recently-played">
      <div class="header">Recently played</div>
      <div class="ui grid recently-played-cont">
        <!-- Demonstration cards (delete them) -->
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <app-recently-played-card></app-recently-played-card>
        <!-- Work component -->
        <app-recently-played-card *ngFor="let card of recentlyPlayed"></app-recently-played-card>
      </div>
    </div>


    <!-- New Releases -->
    <div class="ui sixteen column row new-releases">
      <div class="header">New Releases</div>
      <div id="newReleases" class="new-releases-cont">
        <!-- Work component -->
        <div *ngFor="let album of albums; let i index">
          <app-album-card [album]="i"></app-album-card>
        </div>
        <!-- <div class="scroll-box">
          <button class="scroll-button" (click)="scroll('newReleases')">
            <i class="chevron right icon"></i>
          </button>
        </div> -->
      </div>
    </div>


    <!-- Calm rhythms -->
    <div class="sixteen column row calm-rhythms">
      <div class="header">Calm rhythms</div>
      <div id="calmRhythms" class="calm-rhythms-cont">
        <div *ngFor="let playlist of playlists; let i index">
          <app-playlist-card [playlist]="i"></app-playlist-card>
        </div>        
      </div>
      <!-- <div class="scroll-box">
        <button class="scroll-button" (click)="scroll('calmRhythms')">
          <i class="chevron right icon"></i>
        </button>
      </div> -->
    </div>


    <!-- Your mix -->
    <div class="sixteen column row your-mix">
      <div class="header">Your mix</div>
      <div id="yourMix" class="ui grid your-mix-cont">
        <!-- Demonstration cards (delete them) -->
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <app-your-mix-card></app-your-mix-card>
        <!-- Work component -->
        <app-your-mix-card *ngFor="let card of yourMix"></app-your-mix-card>
      </div>
    </div>


    <!-- Top 100 songs -->
    <div class="sixteen column row calm-rhythms">
      <div class="header">Top 100 songs</div>
      <div id="top100Songs" class="calm-rhythms-cont">
        <!-- Demonstration cards (delete them) -->
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <app-top-songs-card></app-top-songs-card>
        <!-- Work component -->
        <app-top-songs-card *ngFor="let card of top100Songs"></app-top-songs-card>
      </div>
      <div class="scroll-box">
        <button class="scroll-button" (click)="scroll('top100Songs')">
          <i class="chevron right icon"></i>
        </button>
      </div>
    </div>
  </div>
</main>