<div class="router-container">
    <router-outlet></router-outlet>
</div>
<div class="profile-notifications-container">
<app-notifications></app-notifications>
<app-profile-menu></app-profile-menu>
</div>

<app-confirmation-modal></app-confirmation-modal>

<app-queue 
    (opened)="hideContainer()" 
    (closed)="showContainer()" 
    (togglePlayEvent)="togglePlay()" 
    (reseted)="resetToolbar()">
</app-queue>
<app-song-toolbar (queueClicked)="toggleQueue()" [isQueueOpened]="isContainerHidden"></app-song-toolbar>
<app-snackbar></app-snackbar>
